<script>
fnjs_ver=function(){
	// obtener el listado de periodos 
	var url='{{ url|raw }}';
	var parametros = $('#seleccion').serialize();
	$.ajax({
		url: url,
		type: 'post',
		data: parametros
    })
	.done(function (rta_txt) {
        if (rta_txt) {
            $('#exportar').html(rta_txt);
        }
	});
}
fnjs_left_side_hide();
</script>
<div id='condiciones' class='no_print'>
<form id="seleccion" name="seleccion" action="{{ url }}" method="post">
<h3 class=subtitulo>{{ "lista con la atención de actividades para mandar a los sacd"|trans }}</h3>
{{ oHash.getCamposHtml()|raw }}
{{ oFormP.getHtml()|raw }}
</form>
<li>
<span class=link onclick="fnjs_update_div('#main','{{ url_com_txt|raw }}')">
    {{ "modificar los textos de las comunicaciones"|trans }}
	</span></li>
</div>
<div id='exportar' refe='des/com_sacd_activ.php'>
</div>
