<script>
    // Parsea la respuesta JSON estandar de /src/actividades/actividad_tipo_get.
    fnjs_actividad_tipo_get_content = function (json) {
        if (!json || json.success !== true) {
            return '';
        }
        try {
            var data = (typeof json.data === 'string') ? JSON.parse(json.data) : json.data;
            return data.content || '';
        } catch (e) {
            return '';
        }
    }

    // Construye el HTML de un `<select>` a partir del payload JSON
    // estandar de /src/actividades/actividad_tipo_get para salidas
    // desplegable.
    fnjs_construir_desplegable = function (json) {
        if (!json || json.success !== true) { return ''; }
        try {
            var data = (typeof json.data === 'string') ? JSON.parse(json.data) : json.data;
            if (!data) { return ''; }
            var $sel = $('<select></select>').attr({ id: data.id, name: data.id });
            if (data.action) { $sel.attr('onchange', data.action); }
            if (data.blanco) {
                var vb = (data.val_blanco !== undefined && data.val_blanco !== null) ? data.val_blanco : '';
                $sel.append($('<option></option>').val(vb).text(''));
            }
            var opciones = data.opciones || {};
            $.each(opciones, function (value, label) {
                var $opt = $('<option></option>').val(value).text(label);
                if (data.selected !== undefined && data.selected !== '' && String(data.selected) === String(value)) {
                    $opt.prop('selected', true);
                }
                $sel.append($opt);
            });
            return $sel.prop('outerHTML');
        } catch (e) {
            return '';
        }
    }

    fnjs_asistentes = function () {
        var url = '{{ url }}';
        var extendida = $('#extendida').val();
        var isfsv = $('#isfsv_val').val();
        if (isfsv == 3) {
            $('#iasistentes_val').hide();
            $('#iactividad_val').hide();
            fnjs_nom_tipo();
        } else {
            var parametros = 'extendida=' + extendida + '&modo=buscar&salida=asistentes&entrada=' + isfsv + '{{ h|raw }}';

            $.ajax({
                url: url,
                type: 'post',
                data: parametros,
                dataType: 'json'
            })
                .done(function (json) {
                    $('#lst_asistentes').html(fnjs_construir_desplegable(json));
                });
            // borrar el resto.
            $('#iasistentes_val').val(".");
            if (extendida === "1") {
                $('#iactividad_val').val("..");
                $('#inom_tipo_val').val("..");
            } else {
                $('#iactividad_val').val(".");
                $('#inom_tipo_val').val("...");
            }
        }
    }

    fnjs_actividad = function () {
        var url = '{{ url }}';
        var extendida = $('#extendida').val();
        var isfsv = $('#isfsv_val').val();
        var iasistentes = $('#iasistentes_val').val();
        var parametros = 'extendida=' + extendida + '&modo=buscar&salida=actividad&entrada=' + isfsv + iasistentes + '{{ h|raw }}';
        $.ajax({
            url: url,
            type: 'post',
            data: parametros,
            dataType: 'json'
        })
            .done(function (json) {
                $('#lst_actividad').html(fnjs_construir_desplegable(json));
            });
        // borrar el resto.
        if (extendida === "1") {
            $('#inom_tipo_val').val("..");
        } else {
            $('#inom_tipo_val').val("...");
        }
    }
    fnjs_nom_tipo = function () {
        var url = '{{ url }}';
        var extendida = $('#extendida').val();
        var isfsv = $('#isfsv_val').val();
        var iasistentes = $('#iasistentes_val').val();
        var iactividad = $('#iactividad_val').val();
        var parametros = 'extendida=' + extendida + '&modo=buscar&salida=nom_tipo&entrada=' + isfsv + iasistentes + iactividad + '{{ h|raw }}';
        $.ajax({
            url: url,
            type: 'post',
            data: parametros,
            dataType: 'json'
        })
            .done(function (json) {
                $('#lst_nom_tipo').html(fnjs_construir_desplegable(json));
            });
    }
    fnjs_act_id_activ = function () {
        var isfsv = $('#isfsv_val').val();
        var iasistentes = $('#iasistentes_val').val();
        var iactividad = $('#iactividad_val').val();
        var inom_tipo = $('#inom_tipo_val').val();
        var id_tipo_activ = isfsv + iasistentes + iactividad + inom_tipo;

        $('#id_tipo_activ').val(id_tipo_activ);
    }
</script>
