{# Form nuevo de `RelacionTarifaTipoActividad` (HTML AJAX).
   Incluye el bloque de desplegables dinamicos servido por
   `ActividadTipo::getHtml()`. El submit llama a
   `/src/actividadtarifas/relacion_tarifa_update` via el global
   `fnjs_guardar` definido en `tarifa_tipo_actividad.phtml`. #}
<style>
    <!--
    table {
        border: none;
    }
    td {
        border: none;
    }
    -->
</style>
<form id="nuevo">
    {{ actividad_tipo_html|raw }}
    {{ oHash.getCamposHtml()|raw }}
    <div class="flex-container">
        <div style="margin-top: 20px">
            {{ "tarifa"|trans|raw }}:
            {{ oDesplPosiblesTipoTarifas.desplegable()|raw }}
        </div>
    </div>
    <br><br>
    <input type="button" value="{{ "guardar"|trans|raw }}" onclick="fnjs_guardar('#nuevo','update');">
    <input type="button" value="{{ "cancel"|trans|raw }}" onclick="fnjs_cerrar();">
</form>
