<script>
fnjs_ver_planning = function(n) {
	$('#modelo').val(n);
    $('#sel').attr('action','{{ url }}');
    fnjs_enviar_formulario('#sel');
}
</script>
<form name="que" id="sel" action="" method="post">
{{ oHash.getCamposHtml|raw }}
<table>
	<tr><th class=titulo_inv colspan=5>{{ "trimestre o mes que interesa"|trans|raw }}</th></tr>
	<tr><td></td><td><input type="radio" name="trimestre" value=1 {{ chk_trim1 }}>{{ "enero-marzo"|trans|raw }}</td>
	<td><input type="radio" name="trimestre" value=101 {{ chk_trim_101 }}>{{ "enero"|trans|raw }}</td>
	<td><input type="radio" name="trimestre" value=102 {{ chk_trim_102 }}>{{ "febrero"|trans|raw }}</td>
	<td><input type="radio" name="trimestre" value=103 {{ chk_trim_103 }}>{{ "marzo"|trans|raw }}</td>
	</tr>
	<tr><td></td><td><input type="radio" name="trimestre" value=2 {{ chk_trim2 }}>{{ "abril-junio"|trans|raw }}</td>
	<td><input type="radio" name="trimestre" value=104 {{ chk_trim_104 }}>{{ "abril"|trans|raw }}</td>
	<td><input type="radio" name="trimestre" value=105 {{ chk_trim_105 }}>{{ "mayo"|trans|raw }}</td>
	<td><input type="radio" name="trimestre" value=106 {{ chk_trim_106 }}>{{ "junio"|trans|raw }}</td>
	</tr>
	<tr><td></td><td><input type="radio" name="trimestre" value=3 {{ chk_trim3 }}>{{ "julio-septiembre"|trans|raw }}</td>
	<td><input type="radio" name="trimestre" value=107 {{ chk_trim_107 }}>{{ "julio"|trans|raw }}</td>
	<td><input type="radio" name="trimestre" value=108 {{ chk_trim_108 }}>{{ "agosto"|trans|raw }}</td>
	<td><input type="radio" name="trimestre" value=109 {{ chk_trim_109 }}>{{ "septiembre"|trans|raw }}</td>
	</tr>
	<tr><td></td><td><input type="radio" name="trimestre" value=4 {{ chk_trim4 }}>{{ "octubre-diciembre"|trans|raw }}</td>
	<td><input type="radio" name="trimestre" value=110 {{ chk_trim_110 }}>{{ "octubre"|trans|raw }}</td>
	<td><input type="radio" name="trimestre" value=111 {{ chk_trim_111 }}>{{ "noviembre"|trans|raw }}</td>
	<td><input type="radio" name="trimestre" value=112 {{ chk_trim_112 }}>{{ "diciembre"|trans|raw }}</td>
	</tr>
	<tr><td></td><td><input type="radio" name="trimestre" value=5 {{ chk_trim5 }}>{{ "navidad: diciembre-enero"|trans|raw }}</td>
	<tr><td></td><td><input type="radio" name="trimestre" value=6 {{ chk_trim6 }}>{{ "verano: julilo-agosto"|trans|raw }}</td>
	</tr>
	<tr><td class=etiqueta>{{ "año"|trans|raw }}:</td>
		<td>{{ oFormAny.getDesplAnys().desplegable()|raw }}</td></tr>
	<tr><th class=titulo_inv colspan=5>{{ "zonas o subzona"|trans|raw }}</th></tr>
	<tr><td></td><td>
	<select name='id_zona' class=contenido>
        {%  if is_jefeCalendario %}
            <option value="todo_propias" selected>{{ "todas las zonas de misas"|trans|raw }} (30s)</option>
            <option value="todo" >{{ "todas las zonas"|trans|raw }} (80s)</option>
		{% endif %}
		{{ oDesplZonas.options|raw }}
	</select>
	</tr>
	<tr><th class=titulo_inv colspan=5>{{ "¿con actividades?"|trans|raw }}</th></tr>
	<tr><td></td><td><input type="radio" name="actividad" value="si" {{ chk_actividad_si }}>{{ "con actividades"|trans|raw }}</td></tr>
	<tr><td></td><td><input type="radio" name="actividad" value="no" {{ chk_actividad_no }}>{{ "sin actividades"|trans|raw }}</td></tr>
</table>
<br>
<table>
<tr class=botones>
<td><input TYPE="button" onclick="fnjs_ver_planning(1)" VALUE="{{ "planning vista tabla"|trans|raw }}"></td>
<td><input TYPE="button" onclick="fnjs_ver_planning(3)" VALUE="{{ "planning vista grid"|trans|raw }}"></td>
</tr>
</table>
</form>
