<script>
    let fnjs_guardar_activacion_default = function (formulario) {
        $("#que").val('update_default');
        let request = $.ajax({
            url: '{{ url_ajax|raw }}',
            type: 'post',
            data: $(formulario).serialize(),
            dataType: 'json'
        });
        request.done(function (json) {
            if (json.success !== true) {
                alert("{{ "respuesta"|trans|raw }}: " + json.mensaje);
                fnjs_lista_activacion();
                fnjs_cerrar_activacion();
            }
        });
    }

    let fnjs_guardar_activacion_nuevo = function (formulario) {
        var err = 0;
        var id_tipo_activ = $('#id_tipo_activ').val();
        var activacion = $('#activacion').val();
        if (!id_tipo_activ) {
            alert("{{ "Tipo no válido"|trans|raw }}");
            err = 1;
        }
        if (!activacion) {
            alert("{{ "debe indicar un periodo"|trans|raw }}");
            err = 1;
        }
        if (!err) {
            $('#que').val('nuevo');
            let request = $.ajax({
                url: '{{ url_ajax|raw }}',
                type: 'post',
                data: $(formulario).serialize(),
                dataType: 'json'
            });
            request.done(function (json) {
                if (json.success !== true) {
                    alert("{{ "respuesta"|trans|raw }}: " + json.mensaje);
                    fnjs_lista_activacion();
                    fnjs_cerrar_activacion();
                }
            });
        }
    }

    let fnjs_guardar_activacion = function (formulario, que) {
        var err = 0;
        if (que === "eliminar") {
            seguro = confirm("{{ txt_eliminar }}");
            if (seguro) {
                err = 0;
            } else {
                err = 1;
            }
        }
        var activacion = $('#activacion').val();
        var id_tipo_activ = $('#id_tipo_activ').val();
        if (!id_tipo_activ) {
            alert("{{ "Tipo no válido"|trans|raw }}");
            err = 1;
        }
        if (!activacion) {
            alert("{{ "debe indicar un valor"|trans|raw }}");
            err = 1;
        }
        if (!err) {
            $('#que').val(que);
            let request = $.ajax({
                url: '{{ url_ajax|raw }}',
                type: 'post',
                data: $(formulario).serialize(),
                dataType: 'json'
            });
            request.done(function (json) {
                if (json.success !== true) {
                    alert("{{ "respuesta"|trans|raw }}: " + json.mensaje);
                    fnjs_lista_activacion();
                    fnjs_cerrar_activacion();
                }
            });
        }
    }

    let fnjs_nuevo_activacion = function (id_tipo_activ) {
        document.getElementById("div_modificar").style.display = "block";
        $('#div_modificar').addClass('ventana');
        $('#div_modificar').width('auto');
        $('#div_modificar').height('auto');
        document.getElementById("overlay").style.display = "block";


        var url = '{{ url_ajax|raw }}';
        var parametros = 'que=form_nuevo' + '{{ h_nuevo|raw }}';
        fnjs_update_div('#div_modificar', url + '?' + parametros);
    }

    let fnjs_modificar_activacion = function (id_tipo_activ, activacion) {
        document.getElementById("div_modificar").style.display = "block";
        $('#div_modificar').addClass('ventana');
        $('#div_modificar').width('auto');
        $('#div_modificar').height('auto');
        document.getElementById("overlay").style.display = "block";


        var url = '{{ url_ajax|raw }}';
        var parametros = 'que=form_modificar&id_tipo_activ=' + id_tipo_activ + '&activacion=' + activacion + '{{ h_modificar|raw }}';
        fnjs_update_div('#div_modificar', url + '?' + parametros);
    }

    let fnjs_modificar_activacion_default = function () {
        document.getElementById("div_modificar").style.display = "block";
        $('#div_modificar').addClass('ventana');
        $('#div_modificar').width('auto');
        $('#div_modificar').height('auto');
        document.getElementById("overlay").style.display = "block";


        var url = '{{ url_ajax|raw }}';
        var parametros = 'que=form_default' + '{{ h_default|raw }}';
        fnjs_update_div('#div_modificar', url + '?' + parametros);
    }

    let fnjs_lista_activacion = function () {
        // obtener el listado
        var url = '{{ url_ajax|raw }}';
        var parametros = 'que=lista' + '{{ h_lista|raw }}';

        $.ajax({
            url: url,
            type: 'post',
            data: parametros
        })
        .done(function (rta_txt) {
            if (rta_txt) {
                $('#div_tabla').html(rta_txt);
            }
            fnjs_cerrar_activacion();
        });
    }

    let fnjs_cerrar_activacion = function () {
        $('#div_modificar').html('');
        document.getElementById("div_modificar").style.display = "none";
        document.getElementById("overlay").style.display = "none";
    }

    /*
    let fnjs_id_activ_activacion = function () {
        let isfsv = $('#isfsv_val').val();
        let iasistentes = $('#iasistentes_val').val();
        let iactividad = $('#iactividad_val').val();
        let inom_tipo = $('#inom_tipo_val').val();
        let id_tipo_activ = isfsv + iasistentes + iactividad + inom_tipo;

        $('#id_tipo_activ').val(id_tipo_activ);
    }
    */

    $(document).ready(function () {
        fnjs_lista_activacion();
    });

    fnjs_left_side_hide();
</script>
<div id='div_botones'>
    <input type="button" value="{{ "nuevo"|trans|raw }}" onclick="fnjs_nuevo_activacion();">
</div>
<div id='div_tabla'></div>
<div id='div_modificar'></div>
<div id='overlay'></div>
