<script>
    {# fnjs_update_div vuelve a ejecutar este script: `let` en global fallaría por redeclaración; `window.*` solo reasigna.
       En callbacks AJAX usar siempre window.fnjs_* : el identificador global desnudo puede no resolverse igual tras reinyectar el bloque.
       HashFront: el POST no puede llevar campos que no estén en setCamposForm del Hash (p. ej. id_tarifa, fases_on[] del widget ActividadTipo); si no, validatePost falla y la respuesta AJAX acaba siendo el HTML de index.php. #}
    window.fnjs_serialize_activacion_hash = function (formulario, modo) {
        var allowTipo = {
            que: 1, id_tipo_activ: 1, extendida: 1, isfsv_val: 1, iasistentes_val: 1, iactividad_val: 1, inom_tipo_val: 1, activacion: 1,
            h: 1, hh: 1, hhc: 1, hno: 1, hchk: 1, hnov: 1, horig: 1, hhorig: 1
        };
        var allowDefault = {
            que: 1, default: 1,
            h: 1, hh: 1, hhc: 1, hno: 1, hchk: 1, hnov: 1, horig: 1, hhorig: 1
        };
        var allow = (modo === 'default') ? allowDefault : allowTipo;
        return $(formulario).serializeArray()
            .filter(function (field) { return Object.prototype.hasOwnProperty.call(allow, field.name); })
            .map(function (field) {
                return encodeURIComponent(field.name) + '=' + encodeURIComponent(field.value == null ? '' : String(field.value));
            })
            .join('&');
    };

    window.fnjs_activacion_mutacion_ajax = function (url, dataStr) {
        var request = $.ajax({
            url: url,
            type: 'post',
            data: dataStr,
            dataType: 'json'
        });
        request.done(function (json) {
            if (json.success !== true) {
                alert("{{ "respuesta"|trans|raw }}: " + (json.mensaje || ''));
            }
            window.fnjs_lista_activacion();
            window.fnjs_cerrar_activacion();
        });
        request.fail(function (jqXHR) {
            var txt = jqXHR.responseText || jqXHR.statusText || '';
            alert("{{ "respuesta"|trans|raw }}: " + txt);
            window.fnjs_lista_activacion();
            window.fnjs_cerrar_activacion();
        });
    };

    window.fnjs_guardar_activacion_default = function (formulario) {
        $(formulario).find('[name="que"]').val('update_default');
        window.fnjs_activacion_mutacion_ajax('{{ url_ajax|raw }}', window.fnjs_serialize_activacion_hash(formulario, 'default'));
    }

    window.fnjs_guardar_activacion_nuevo = function (formulario) {
        var err = 0;
        var $f = $(formulario);
        var id_tipo_activ = $f.find('[name="id_tipo_activ"]').val();
        var activacion = $f.find('[name="activacion"]').val();
        if (!id_tipo_activ) {
            alert("{{ "Tipo no válido"|trans|raw }}");
            err = 1;
        }
        if (!activacion) {
            alert("{{ "debe indicar un periodo"|trans|raw }}");
            err = 1;
        }
        if (!err) {
            $(formulario).find('[name="que"]').val('nuevo');
            window.fnjs_activacion_mutacion_ajax('{{ url_ajax|raw }}', window.fnjs_serialize_activacion_hash(formulario, 'tipo'));
        }
    }

    {# Formulario modificar: POST mínimo a /src/... + linkSinValParams (validación global_object, sin hh del form). #}
    window.fnjs_guardar_activacion_modificar = function (formulario) {
        var $f = $(formulario);
        var idTipo = $f.find('[name="id_tipo_activ"]').val();
        var activacion = $f.find('[name="activacion"]').val();
        if (!idTipo) {
            alert("{{ "Tipo no válido"|trans|raw }}");
            return;
        }
        if (!activacion) {
            alert("{{ "debe indicar un valor"|trans|raw }}");
            return;
        }
        var data = 'id_tipo_activ=' + encodeURIComponent(idTipo)
            + '&valor=' + encodeURIComponent(activacion)
            + '{{ h_src_excepcion_guardar|raw }}';
        window.fnjs_activacion_mutacion_ajax('{{ url_src_excepcion_guardar|raw }}', data);
    };

    window.fnjs_eliminar_activacion = function (formulario) {
        if (!confirm("{{ txt_eliminar }}")) {
            return;
        }
        var $f = $(formulario);
        var idTipo = $f.find('[name="id_tipo_activ"]').val();
        if (!idTipo) {
            alert("{{ "Tipo no válido"|trans|raw }}");
            return;
        }
        var data = 'id_tipo_activ=' + encodeURIComponent(idTipo) + '{{ h_src_excepcion_eliminar|raw }}';
        window.fnjs_activacion_mutacion_ajax('{{ url_src_excepcion_eliminar|raw }}', data);
    }

    window.fnjs_nuevo_activacion = function (id_tipo_activ) {
        document.getElementById("div_modificar").style.display = "block";
        $('#div_modificar').addClass('ventana');
        $('#div_modificar').width('auto');
        $('#div_modificar').height('auto');
        document.getElementById("overlay").style.display = "block";


        var url = '{{ url_ajax|raw }}';
        var parametros = 'que=form_nuevo' + '{{ h_nuevo|raw }}';
        window.fnjs_update_div('#div_modificar', url + '?' + parametros);
    }

    window.fnjs_modificar_activacion = function (id_tipo_activ, activacion) {
        document.getElementById("div_modificar").style.display = "block";
        $('#div_modificar').addClass('ventana');
        $('#div_modificar').width('auto');
        $('#div_modificar').height('auto');
        document.getElementById("overlay").style.display = "block";


        var url = '{{ url_ajax|raw }}';
        var parametros = 'que=form_modificar&id_tipo_activ=' + id_tipo_activ + '&activacion=' + activacion + '{{ h_modificar|raw }}';
        window.fnjs_update_div('#div_modificar', url + '?' + parametros);
    }

    window.fnjs_modificar_activacion_default = function () {
        document.getElementById("div_modificar").style.display = "block";
        $('#div_modificar').addClass('ventana');
        $('#div_modificar').width('auto');
        $('#div_modificar').height('auto');
        document.getElementById("overlay").style.display = "block";


        var url = '{{ url_ajax|raw }}';
        var parametros = 'que=form_default' + '{{ h_default|raw }}';
        window.fnjs_update_div('#div_modificar', url + '?' + parametros);
    }

    window.fnjs_lista_activacion = function () {
        // obtener el listado
        var url = '{{ url_ajax|raw }}';
        var parametros = 'que=lista' + '{{ h_lista|raw }}';

        fnjs_ajax_json_html({
            url: url,
            data: parametros,
            target: '#div_tabla',
            onDone: function () {
                window.fnjs_cerrar_activacion();
            }
        });
    }

    window.fnjs_cerrar_activacion = function () {
        $('#div_modificar').html('');
        document.getElementById("div_modificar").style.display = "none";
        document.getElementById("overlay").style.display = "none";
    }

    window.fnjs_id_activ = function () {
        let isfsv = $('#isfsv_val').val();
        let iasistentes = $('#iasistentes_val').val();
        let iactividad = $('#iactividad_val').val();
        let inom_tipo = $('#inom_tipo_val').val();
        let id_tipo_activ = isfsv + iasistentes + iactividad + inom_tipo;

        $('#id_tipo_activ').val(id_tipo_activ);
    }

    $(document).ready(function () {
        window.fnjs_lista_activacion();
    });

    window.fnjs_left_side_hide();
</script>
<div id='div_botones'>
    <input type="button" value="{{ "nuevo"|trans|raw }}" onclick="fnjs_nuevo_activacion();">
</div>
<div id='div_tabla'></div>
<div id='div_modificar'></div>
<div id='overlay'></div>
