<style>
    table {
        width: 600px;
    }

    .contenido {
        font-weight: bold;
    }

    .link {
        text-decoration: none;
        color: blue;
        cursor: pointer;
    }
</style>
<form id="modifica">
    {{ oHash.getCamposHtml()|raw }}
    <div class="flex-container">
        <div>
            <h3>
                {{ txt }}:
            </h3>
        </div>
        <div>
            <input id="default" name="default" value="{{ default }}" \>
        </div>
    </div>
    <br><br>
    <br><br>
    <input type="button" value="{{ "guardar"|trans|raw }}" onclick="fnjs_guardar_default('#modifica');">
    <input type="button" value="{{ "cancel"|trans|raw }}" onclick="fnjs_cerrar();">
</form>
