<script>
/* Se pone aquí porque el desplegable de casa está dentro del Form de Periodo */
fnjs_mas_casas=function(e){
	var code = (e.keyCode ? e.keyCode : e.which);
	if(e=="x") {
		var valor=1;
	} else {
		var id_campo='#'+e.currentTarget.id;
		var valor=$(id_campo).val();
		if(code!=9) {
			e.preventDefault();
			e.stopPropagation();
		}
	}
	if ( code==9 || e.type=="change" || e=="x") {
		if (valor!=0) {
			{{ oSelects.ListaSelectsJs()|raw }}
		}
	}
}
{{ oSelects.ComprobarSelectsJs()|raw }}
/* fin desplegable casas */


fnjs_cerrar=function(){
	$('#div_modificar').html('');
	$('#div_modificar').width('0');
	$('#div_modificar').height('0');
	$('#div_modificar').removeClass('ventana');
	document.getElementById("overlay").style.display = "none";
}

fnjs_modificar=function(id_activ){
	$('#div_modificar').addClass('ventana');
	$('#div_modificar').width('auto');
	$('#div_modificar').height('auto');
	document.getElementById("overlay").style.display = "block";

	var url='{{ url_ajax }}';
	var parametros='';
	if (id_activ) {
		var parametros='que=form_ingreso&id_activ='+id_activ+'{{ h_edit_a|raw }}';
	} else {
		id_ubi =$('#id_cdc').val();
		var parametros='que=nuevo&id_ubi='+id_ubi+'{{ h_edit_u|raw }}';
	}
	fnjs_update_div('#div_modificar',url+'?'+parametros);
}

fnjs_ver=function(){
	pata = $('#seleccion').serialize();
	// obtener el listado de periodos 
	url = '{{ url_ajax }}';
	parametros = pata+'&{{ param|raw }}';
	$.ajax({
		url: url,
		type: 'post',
		data: parametros,
		success: function (rta_txt) {
			//rta_txt=rta.responseText;
			//alert ('respuesta: '+rta_txt);
			if (rta_txt) {
				$('#exportar').html(rta_txt);
			}
		}
	});
}

fnjs_guardar=function(formulario,que){
	var err=0;
	if (que=="eliminar") {
		seguro=confirm("{{ "¿Está seguro de borrar los datos económicos de esta actividad?"|trans }}");
		if (seguro) { 
			err=0;
		} else {
			err=1;
		}
	}
	if (err!=1) {
		$(formulario+' input[name="que"]').val(que);
		$(formulario).attr('action','{{ url_ajax }}');
		$(formulario).submit(function() {
			$.ajax({
				url: $(this).attr('action'),
				type: 'post',
				data: $(this).serialize()
			})
			.done(function (rta_txt) {
                if (rta_txt != '' && rta_txt != '\n') {
                    alert (rta_txt);
                } else {
                    $('#div_modificar').html('');
                    $('#div_modificar').width('0');
                    $('#div_modificar').height('0');
                    $('#div_modificar').removeClass('ventana');
                    document.getElementById("overlay").style.display = "none";
                }
            	fnjs_ver();
        	});
			return false;
		});
		$(formulario).submit();
		$(formulario).off();
	}
}

</script>
<form id=seleccion name=seleccion action="">
{{ oHash.getCamposHtml|raw }}
{% if ( periodo == 'no') %}
    {{ oForm.getHtmlTabla2()|raw }}
{% else %}
	{{ oFormP.getHtml()|raw }}
{% endif %}
</form>
<div id='exportar'></div>
<div id='div_modificar'></div>
<div id='overlay'></div>
{#
Es para cuando vengo del resumen, que ya me coja la casa en cuestión.
No sé porque me repite la casa. Lo dejo asi...
#}
{% if id_ubi %}
    <script>
    $('#id_cdc_mas').val({{ id_ubi }});
    fnjs_mas_casas('x');
    fnjs_ver();
    </script>
{% endif %}
