
<p>{{ "Acciones para propuestas"|trans }}</p>
<ol>
<li><span class=link onclick="fnjs_update_div('#main','{{ url_new_tabla|raw }}')">{{ "generar nueva tabla propuestas"|trans }}</span></li>
<li><span class=link onclick="fnjs_update_div('#main','{{ url_aprobar|raw }}')">{{ "aprobar las propuestas"|trans }}</span></li>
</ol>
<p>{{ "Propuestas encargos para nuevo curso"|trans }}</p>
<ol>
<li><span class=link onclick="fnjs_update_div('#main','{{ url_propuestas|raw }}')">{{ "modificar propuestas"|trans }}</span></li>
</ol>