
<p>{{ "Acciones para propuestas"|trans|raw }}</p>
<ol>
<li><span class=link onclick="fnjs_new_tabla()">{{ "generar nueva tabla propuestas"|trans|raw }}</span></li>
<li><span class=link onclick="fnjs_aprobar_propuestas()">{{ "aprobar las propuestas"|trans|raw }}</span></li>
</ol>
<p>{{ "Propuestas encargos para nuevo curso"|trans|raw }}</p>
<ol>
<li><span class=link onclick="fnjs_update_div('#main','{{ url_propuestas|raw }}')">{{ "modificar propuestas"|trans|raw }}</span></li>
<li><span class=link onclick="fnjs_update_div('#main','{{ url_lista_sacd|raw }}')">{{ "listado propuestas por sacd"|trans|raw }}</span></li>
<li><span class=link onclick="fnjs_update_div('#main','{{ url_lista_enc|raw }}')">{{ "listado propuestas por encargos"|trans|raw }}</span></li>
</ol>
<script>
fnjs_aprobar_propuestas=function(){
	var opcion = confirm("{{ "Pasa los cambios a real y elimina la tabla de propuestas actual. Tarda un poco (30 seg.)"|trans|raw }}");
    if (opcion == true) {
    	fnjs_update_div('#main','{{ url_aprobar|raw }}');
	}
}
fnjs_new_tabla=function(){
	var opcion = confirm("{{ "Elimina la tabla de propuestas actual y crea una nueva"|trans|raw }}");
    if (opcion == true) {
    	protocol = location.protocol;
    	const url = new URL(protocol+'{{ url_new_tabla|raw }}');
    	var url_ajax=url.origin+url.pathname;
    	var parametros=url.search;
    	// Quitar el ? al inicio.
    	param=parametros.substring(1)
    	request=$.ajax({
            data: param,
            url: url_ajax,
            type: 'post',
            dataType: 'json'
        });
        request.done( function (json) {
            if (json.success != true) {
                alert (json.mensaje);
            }
        });
	}
}
</script>