<script>
fnjs_ver_ficha=function(id_nom,historial){
alert('hola');
	var filtro_sacd='n';
alert('hola2');
	if (!id_nom ) { var id_nom=$('#id_sacd').val(); }
alert('hola3');

	if (id_nom ) {
		var url='{{ url_get }}';
		var parametros='filtro_sacd='+filtro_sacd+'&id_nom='+id_nom+'&historial='+historial+'{{ h_get|raw }}';
alert(parametros);
		$.ajax({
			url: url,
			type: 'post',
			data: parametros,
			dataType: 'html'
		})
		.done(function (rta_txt) {
			$('#ficha').html(rta_txt);
		});
	}
}

fnjs_lista_sacd=function(id_nom){
	var filtro_sacd='';

    var url='{{ url_ajax }}';
	var parametros='que=get_select&filtro_sacd='+filtro_sacd+'&id_nom='+id_nom+'{{ h_lista|raw }}';
	$.ajax({
		url: url,
		type: 'post',
		data: parametros,
		dataType: 'html'
	})
	.done(function (rta_txt) {
		$('#sacds').html(rta_txt);
	});
}

fnjs_horario=function(id_enc){
	var filtro_sacd='';
	var id_nom=$('#lst_sacds').val();
    var url='{{ url_horario }}';
	var parametros='filtro_sacd='+filtro_sacd+'&id_enc='+id_enc+'&id_nom='+id_nom+'{{ h_horario|raw }}';
    $.ajax({
        url: url,
        type: 'post',
        data: parametros,
        dataType: 'html'
    })
    .done(function (rta_txt) {
        $('#ficha').html(rta_txt);
    });
}
</script>

<table>
<thead>
<tr><th colspan=4>{{ "Ausencias"|trans|raw }}</th></tr>
<tr>
<th colspan=3 id="sacds">{{ "sacd"|trans|raw }}:&nbsp;&nbsp;&nbsp;
                    {{ oDesplSacd.desplegable|raw }}
</th></tr>
</thead>
</table>
<div class=contenido id="ficha" ></div>
