<script>
fnjs_ver_ficha=function(id_nom){
	if (!id_nom ) { var id_nom=$('#lst_sacds').val(); }

	if (id_nom ) {
		var url='{{ url_ajax }}';
		var parametros='que=ficha&id_nom='+id_nom+'{{ h_ficha|raw }}';
		$.ajax({
			url: url,
			type: 'post',
			data: parametros,
			dataType: 'html'
		})
		.done(function (rta_txt) {
			$('#ficha').html(rta_txt);
		});
	} else {
        $('#ficha').html(''); // limpio lo que pueda haber en la pantalla
	}

}

fnjs_lista_sacd=function(id_nom){
	var filtro_sacd=$('#filtro_sacd').val();

    var url='{{ url_ajax }}';
	var parametros='que=get_select&filtro_sacd='+filtro_sacd+'&id_nom='+id_nom+'{{ h_lista|raw }}';
	$.ajax({
		url: url,
		type: 'post',
		data: parametros,
		dataType: 'html'
	})
	.done(function (rta_txt) {
		$('#sacds').html(rta_txt);
		$('#ficha').html(''); // limpio lo que pueda haber en la pantalla
	});
}

fnjs_guardar=function(formulario){
	$(formulario).one("submit", function() {
		$.ajax({
			url: $(this).attr('action'),
			type: 'post',
			data: $(this).serialize()
		})
		.done(function (rta_txt) {
			if (rta_txt != '' && rta_txt != '\n') {
				alert (rta_txt);
			}
		});
		return false;
	});
	$(formulario).trigger("submit");
	$(formulario).off();
	fnjs_ver_ficha();
}
</script>
<table>
<thead>
<tr><th colspan=4>{{ fase }}</th></tr>
<tr>
<th>{{ "tipo"|trans|raw }}:&nbsp;&nbsp;&nbsp;
{{ oDesplFiltroSacd.desplegable()|raw }}
</th>
<th colspan=3 id="sacds">{{ "sacd"|trans|raw }}:&nbsp;&nbsp;&nbsp;
	<select class=contenido id="lst_sacds" onchange="fnjs_ver_ficha();">
	</select>
</th></tr>
</thead>
</table>
<div class=contenido id="ficha" ></div>
