<style>
.dos {
	background-attachment:scroll;
	background-color:wheat;
	background-image:none;
	background-position:0 0;
	background-repeat:repeat;
	display:inline;
	float:left;
	position:absolute;
	z-index:10;
}
div.proceso {
	display:inline;
	float:left;
	height:40%;
	position:absolute;
	z-index:10;
	overflow: scroll;
	width: 17em;
	background-color: darkgray;
}
div.proceso table {
	width: 100%;
	background-color:wheat;
}
div.proceso td.cabecera {
	text-align: center;
}
p.tres:hover {
	background-color:black;
}
</style>
<script>
// Gestiona la respuesta JSON de los endpoints /src/actividades/tipo_activ_*.
// Devuelve el `data` ya decodificado (objeto) o null si hubo error de backend.
fnjs_tipo_activ_parseRta=function(json){
	if (!json || json.success !== true) {
		alert("{{ "respuesta"|trans|raw }}: " + ((json && json.mensaje) ? json.mensaje : ''));
		return null;
	}
	try {
		return (typeof json.data === 'string') ? JSON.parse(json.data) : json.data;
	} catch (e) {
		return {};
	}
}

fnjs_guardar_nuevo=function(formulario){
	var err=0;
	var id_nom_tipo_activ=$('#id_nom_tipo_activ').val();
	var nom_tipo_activ=$('#nom_tipo_activ').val();
	if (!id_nom_tipo_activ) { alert ("{{ "Tipo no válido"|trans|raw }}"); err=1; }
	if (!nom_tipo_activ) { alert ("{{ "debe indicar un nombre"|trans|raw }}"); err=1; }
	if (err) { return; }

	var data = $(formulario).serialize();
	// Estos campos no están dentro del formulario. Los añado:
	var isfsv_val=$('#isfsv_val').val();
	var iactividad_val=$('#iactividad_val').val();
	var iasistentes_val=$('#iasistentes_val').val();
	data += '&isfsv_val='+isfsv_val;
	data += '&iactividad_val='+iactividad_val;
	data += '&iasistentes_val='+iasistentes_val;

	$.ajax({
		url: '{{ url_nuevo }}',
		type: 'post',
		data: data,
		dataType: 'json'
	})
	.done(function (json) {
		var data = fnjs_tipo_activ_parseRta(json);
		if (data === null) { return; }
		if (data.mensaje) {
			alert(data.mensaje);
		}
		fnjs_lista();
		fnjs_cerrar();
	});
}

fnjs_guardar=function(formulario,que){
	var err=0;
	if (que=="eliminar") {
		if (!confirm("{{ txt_eliminar }}")) { return; }
	}
	var nom_tipo_activ=$('#nom_tipo_activ').val();
	var id_tipo_activ=$('#id_tipo_activ').val();
	if (!id_tipo_activ) { alert ("{{ "Tipo no válido"|trans|raw }}"); err=1; }
	if (!nom_tipo_activ) { alert ("{{ "debe indicar un nombre"|trans|raw }}"); err=1; }
	if (err) { return; }

	var url = (que === 'eliminar') ? '{{ url_eliminar }}' : '{{ url_update }}';
	$.ajax({
		url: url,
		type: 'post',
		data: $(formulario).serialize(),
		dataType: 'json'
	})
	.done(function (json) {
		var data = fnjs_tipo_activ_parseRta(json);
		if (data === null) { return; }
		if (data.mensaje) {
			alert(data.mensaje);
		} else {
			fnjs_lista();
			fnjs_cerrar();
		}
	});
}

fnjs_nuevo=function(){
	document.getElementById("div_modificar").style.display = "block";
	$('#div_modificar').addClass('ventana');
	$('#div_modificar').width('auto');
	$('#div_modificar').height('auto');
	document.getElementById("overlay").style.display = "block";

	$.ajax({
		url: '{{ url_form_nuevo }}',
		type: 'post',
		data: '{{ h_form_nuevo|raw }}',
		dataType: 'json'
	})
	.done(function (json) {
		var data = fnjs_tipo_activ_parseRta(json);
		if (data === null) { return; }
		$('#div_modificar').html(data.html || '');
	});
}

fnjs_modificar=function(id_tipo_activ){
	document.getElementById("div_modificar").style.display = "block";
	$('#div_modificar').addClass('ventana');
	$('#div_modificar').width('auto');
	$('#div_modificar').height('auto');
	document.getElementById("overlay").style.display = "block";

	$.ajax({
		url: '{{ url_form_modificar }}',
		type: 'post',
		data: 'id_tipo_activ='+id_tipo_activ+'{{ h_form_modificar|raw }}',
		dataType: 'json'
	})
	.done(function (json) {
		var data = fnjs_tipo_activ_parseRta(json);
		if (data === null) { return; }
		$('#div_modificar').html(data.html || '');
	});
}

fnjs_lista=function(){
	$.ajax({
		url: '{{ url_lista }}',
		type: 'post',
		data: '{{ h_lista|raw }}',
		dataType: 'json'
	})
	.done(function (json) {
		var data = fnjs_tipo_activ_parseRta(json);
		if (data === null) { return; }
		$('#div_tabla').html(data.html || '');
		fnjs_cerrar();
	});
}

fnjs_cerrar=function(){
	$('#div_modificar').html('');
	document.getElementById("div_modificar").style.display = "none";
	document.getElementById("overlay").style.display = "none";
}


$(document).ready(function(){
	fnjs_lista();
});

fnjs_left_side_hide();
</script>
<div id='div_botones'>
<input type="button" value="{{ "nuevo"|trans|raw }}" onclick="fnjs_nuevo();">
</div>
<div id='div_tabla'></div>
<div id='div_modificar'></div>
<div id='overlay'></div>
