<style>
<!--
table { border:none; }
td { border:none; }
-->
</style>

<form id="nuevo">
{{ oActividadTipo.getHtml()|raw  }}
{{ oHash.getCamposHtml()|raw }}
<div class="flex-container">
    <div>
    {{ "serie"|trans }}:
    {{ oDesplPosiblesSeries.desplegable()|raw }}
   </div> 
    <div>
    {{ "tarifa"|trans }}:
    {{ oDesplPosiblesTipoTarifas.desplegable()|raw }}
   </div> 
</div>
<br><br>
<input type="button" value="{{ "guardar"|trans }}" onclick="fnjs_guardar('#nuevo','update');">
<input type="button" value="{{ "cancel"|trans }}" onclick="fnjs_cerrar();" >
</form>