
<table>
<tr><th colspan=4>{{ "Propuestas"|trans|raw }}</th></tr>
<tr><th>{{ "grupo de ctrs" }}:
{{ oDesplGrupoCtrs.desplegable()|raw }}
</th></tr></table>

<div id="lista" >
</div>

<style>
<!--
td{
	vertical-align: middle;
}
.nom{
	float:left;
	margin-right: 10px;
	text-decoration: underline;
}
.x{
	display: block;
	float:right;
	clear:right; 
	color: red;
	cursor: pointer;
}
.child{
 	position: absolute;
  	//top: 50%;
  	//left: 50%;
    border-radius: 5px;
    padding: 20px; 
    border-style: solid;
  	border-color: red;
  	border-width: 1px;
  }
-->
</style>
<script>
fnjs_guardar_horario=function() {
	event.preventDefault();
    var datos=$('#modulos').serialize();
	var url_ajax = 'apps/encargossacd/controller/propuestas_ajax.php';

    request=$.ajax({
        url: url_ajax,
        data: datos,
        type: 'post',
        dataType: 'json'
    });
    request.done( function (json) {
        if (json.success != true) {
            alert (json.mensaje);
        } else {
            $('#div_sacd').remove(); // Eliminar si existe alguno
            fnjs_lista_propuestas();
        }
    });
	
	
}

fnjs_dedicacion=function(tipo,id_item,id_enc){
	var id='#'+tipo+'_'+id_item;
	var id_sacd=$(id).attr("title");
	var id_td='#td_'+id_item;

	if (id_sacd == 1) {
		alert ("{{ "Primero debe introducir un sacd"|trans|raw }}");
	} else {
        var url_ajax = 'apps/encargossacd/controller/propuestas_ajax.php';
        var parametros='que=dedicacion&id_sacd='+id_sacd+'&id_item='+id_item+'&id_enc='+id_enc+'{{ h_dedicacion|raw }}';
        request=$.ajax({
            data: parametros,
            url: url_ajax,
            type: 'post',
            dataType: 'json'
        });
        request.done( function (json) {
            if (json.success != true) {
                alert (json.mensaje);
            } else {
                $('#div_sacd').remove(); // Eliminar si existe alguno
                html = json.html;
                //$('#info').html(html);
                
                var txt="<div id=div_sacd class='tono2 child'>";
                txt+=html;
                txt+="</div>";
                
                $(id_td).append(txt);
            }
        });
	}
	
}

fnjs_info=function(tipo,id_item){
	var id='#'+tipo+'_'+id_item;
	var id_sacd=$(id).attr("title");
	var id_td='#td_'+id_item;

	if (id_sacd == 1) {
		alert ("{{ "Primero debe introducir un sacd"|trans|raw }}");
	} else {
        var url_ajax = 'apps/encargossacd/controller/propuestas_ajax.php';
        var parametros='que=info&id_sacd='+id_sacd+'{{ h_info|raw }}';
        request=$.ajax({
            data: parametros,
            url: url_ajax,
            type: 'post',
            dataType: 'json'
        });
        request.done( function (json) {
            if (json.success != true) {
                alert (json.mensaje);
            } else {
                $('#div_sacd').remove(); // Eliminar si existe alguno
                html = json.html;
                //$('#info').html(html);
                
                var txt="<div id=div_sacd class='tono2 child'>";
                txt+=html;
                txt+="</div>";
                
                $(id_td).append(txt);
            }
        });
	}
	
}

fnjs_ver_sacd_posibles=function(tipo,id_item,id_enc){
	var id='#'+tipo+'_'+id_item;
	var id_sacd=$(id).attr("title");
	var id_tr='#tr_'+tipo+id_item;
	var id_td='#td_'+id_item;
	
	var url_ajax = 'apps/encargossacd/controller/propuestas_ajax.php';
    var parametros='que=lista_sacd&tipo='+tipo+'&id_item='+id_item+'&id_enc='+id_enc+'&id_sacd='+id_sacd+'{{ h_cmb|raw }}';
    request=$.ajax({
        data: parametros,
        url: url_ajax,
        type: 'post',
        dataType: 'json'
    });
    request.done( function (json) {
        if (json.success != true) {
            alert (json.mensaje);
        } else {
            $('#div_sacd').remove(); // Eliminar si existe alguno
            html = json.html;
            //$('#info').html(html);
            
            var txt="<div id=div_sacd class='tono2 child'>";
			txt+=html;
			txt+="</div>";
            $(id_td).append(txt);
        }
    });
	
}

fnjs_cmb_sacd=function(tipo,id_item,id_enc){
	var id_old='#old_'+tipo+'_'+id_item;
	var id_tr='#tr_'+tipo+id_item;
	var id_nom='#'+tipo+'_'+id_item;
	var id_sacd=$('#prop_sacd').val();
	var id_sacd_old=$(id_tr).attr("title");

	var url_ajax = 'apps/encargossacd/controller/propuestas_ajax.php';
    var parametros='que=cmb_sacd&tipo='+tipo+'&id_item='+id_item+'&id_enc='+id_enc+'&id_sacd='+id_sacd+'{{ h_cmb|raw }}';
    request=$.ajax({
        data: parametros,
        url: url_ajax,
        type: 'post',
        dataType: 'json'
    });
    request.done( function (json) {
        if (json.success != true) {
            alert (json.mensaje);
        } else {
            nombre_new=json.nombre;
            id_sacd_new=json.id_sacd;
            html=json.html;
            if (html) {
                if (html == 'borrar') {
                    $(id_tr).remove();
                } else {
                    if (tipo=='colaborador') {
                    	$(id_tr).before(html);
                    } else {
                    	$(id_tr).html(html);
                    }
                }
            } else {
                if (id_sacd != id_sacd_old) {
                    $(id_tr).removeClass( "sf" ).addClass( "sf" );
                    $(id_nom).html(nombre_new);
                    $(id_nom).attr("title",id_sacd_new);
                } else {
                    $(id_tr).removeClass( "sf" );
                }
            }
        }
        $('#div_sacd').remove(); // Eliminar si existe alguno
    });
	
}


fnjs_lista_propuestas=function(){
	filtro_ctr=$('#filtro_ctr').val();

	var url_ajax = 'apps/encargossacd/controller/propuestas_ajax.php';
    var parametros='que=get_lista&filtro_ctr='+filtro_ctr+'{{ h|raw }}';
    request=$.ajax({
        data: parametros,
        url: url_ajax,
        type: 'post',
        dataType: 'json'
    });
    request.done( function (json) {
        if (json.success != true) {
            alert (json.mensaje);
        } else {
            html = json.lista;
            // Volver a la lista...
            $('#lista').html(html);
        }
    });
}
</script>