<table>
<tr><th class=titulo_inv colspan=4>{{ "plan de misas de un centro" }}</th></tr>
<tr><th class=titulo_inv>{{ "zona" }}:
{{ oDesplZonas.desplegable()|raw }}
</th>
<th class=titulo_inv colspan=3 id="centros">{{ "centro" }}:
{{ oDesplCentros.desplegable()|raw }}
</th>
</tr>
</table>

<div id="div_select_zona">
    <form id="frm_zona_ctr" name="frm_zona_ctr" action="" method="post">
        {{ oHash.getCamposHtml|raw }}
        <table>
            <thead>
            <tr>
            {{ oFormP.getHtml()|raw }}
            </tr>
            </thead>
        </table>
    </form>
</div>

<br>
<div id="div_cuadricula">
</div>

<script>
    fnjs_buscar_plan_ctr = function () {
        let id_zona = $('#id_zona').val();
            let url = '{{ url_buscar_plan_ctr }}';

        if (id_zona) {
            let parametros = 'id_zona=' + id_zona + '{{ h_buscar_plan_ctr|raw }}';
            
            $.ajax({
                url: url,
                type: 'post',
                data: parametros,
                dataType: 'html'
            })
                .done(function (rta_txt) {
                $('#main').html(rta_txt);
            });
        }
    }

    fnjs_ver_plan_ctr = function () {
        let id_ubi = $('#id_ubi').val();
        let id_zona = $('#id_zona').val();
        
        if (id_ubi) {
            let url = '{{ url_ver_plan_ctr }}';
    	    var periodo=$('#periodo').val();
    	    var empiezamax=$('#empiezamax').val();
    	    var empiezamin=$('#empiezamin').val();

            let parametros = 'id_zona=' + id_zona + '&id_ubi=' + id_ubi + '&periodo=' + periodo + '&empiezamin=' + empiezamin + '&empiezamax=' + empiezamax + '{{ h_plan_sacd|raw }}';
            $.ajax({
                url: url,
                type: 'post',
                data: parametros,
                dataType: 'html'
            })
                .done(function (rta_txt) {
                    $('#div_cuadricula').html(rta_txt);
                });
        }
    }
</script>
