<div id="div_plantilla">
    <span class="link" onclick="fnjs_modificar('{{ pagina_crear_encargo|raw }}');">
        {{ "Añadir Encargo de centro"|trans|raw }}
    </span>
    <br>
    {{ oTabla.mostrar_tabla_html()|raw }}
</div>

<div id='div_modificar'></div>
<div id='overlay'></div>

<script>

    fnjs_quitar_sacd = function (param) {
        var request = $.ajax({
            data: param,
            url: 'apps/misas/controller/asignar_sacd.php',
            method: 'POST',
            dataType: 'json'
        });
        request.done(function (json) {
            if (json.success !== true) {
                alert("{{ "respuesta"|trans|raw }}: " + json.mensaje);
            } else {
                fnjs_update_div('#main', '{{ url_crear_plantilla|raw }}');
                fnjs_cerrar();
            }
        });
    }

    fnjs_asignar_sacd = function (data) {
        var request = $.ajax({
            data: data,
            url: 'apps/misas/controller/asignar_sacd.php',
            method: 'POST',
            dataType: 'json'
        });
        request.done(function (json) {
            if (json.success !== true) {
                alert("{{ "respuesta"|trans|raw }}: " + json.mensaje);
            } else {
                fnjs_update_div('#main', '{{ url_crear_plantilla|raw }}');
                fnjs_cerrar();
            }
        });
    }

    fnjs_guardar_horario = function (data) {
        var t_start = $('#t_start').val();
        var t_end = $('#t_end').val();
        var dataNew = data + '&t_start=' + t_start + '&t_end=' + t_end;
        var request = $.ajax({
            data: dataNew,
            url: 'apps/misas/controller/guardar_horario.php',
            method: 'POST',
            dataType: 'json'
        });
        request.done(function (json) {
            if (json.success !== true) {
                alert("{{ "respuesta"|trans|raw }}: " + json.mensaje);
            } else {
                fnjs_update_div('#main', '{{ url_crear_plantilla|raw }}');
                fnjs_cerrar();
            }
        });
    }

    fnjs_quitar_horario = function (data) {
        var request = $.ajax({
            data: data,
            url: 'apps/misas/controller/quitar_horario.php',
            method: 'POST',
            dataType: 'json'
        });
        request.done(function (json) {
            if (json.success !== true) {
                alert("{{ "respuesta"|trans|raw }}: " + json.mensaje);
            } else {
                fnjs_update_div('#main', '{{ url_crear_plantilla|raw }}');
                fnjs_cerrar();
            }
        });
    }


    fnjs_cerrar = function () {
        $('#div_modificar').html('');
        $('#div_modificar').width('0');
        $('#div_modificar').height('0');
        $('#div_modificar').removeClass('ventana');
        document.getElementById("overlay").style.display = "none";
    }

    fnjs_modificar = function (url) {
        $('#div_modificar').addClass('ventana');
        $('#div_modificar').width('auto');
        $('#div_modificar').height('auto');
        document.getElementById("overlay").style.display = "block";

        fnjs_update_div('#div_modificar', url);
    }

</script>