<input type='button' value="{{ "quitar el actual"|trans|raw }}" onclick="fnjs_quitar_sacd('{{ param_quitar|raw }}');">
<hr>

<label for="t_start">{{ "Inicio"|trans|raw }}</label><input id="t_start" type="text">
<label for="t_end">{{ "Fin"|trans|raw }}</label><input id="t_end" type="text">


<hr>
<input type='button' value="{{ "cancel"|trans|raw }}" onclick="fnjs_cerrar();">
<script>
    $(function () {
        $("#t_start").datepicker({
            controls: ['time'],
    select: 'range',
    touchUi: true
        })
    });

</script>