<h2>Planing de Misas</h2>
<ul>
    <li>
        <span class="link" onclick="fnjs_update_div('#main','{{ goModificarPlantilla }}')">
            {{ "Modificar plantilla"|trans|raw }}
        </span>
    </li>
    <li>
        <span class="link" onclick="fnjs_update_div('#main','{{ goPrepararPlanDeMisas }}')">
            {{ "Preparar nuevo plan de Misas y encargos"|trans|raw }}
        </span>
    </li>
    <li>
        <span class="link" onclick="fnjs_update_div('#main','{{ goModificarPlanDeMisas }}')">
            {{ "Modificar el plan de Misas y encargos"|trans|raw }}
        </span>
    </li>
   <li>
        <span class="link" onclick="fnjs_update_div('#main','{{ goStatus }}')">
            {{ "Modificar estado del plan de Misas"|trans|raw }}
        </span>
    </li>
    <li>
        <span class="link" onclick="fnjs_update_div('#main','{{ goBuscarPlanSacd }}')">
            {{ "Ver el plan de un sacerdote"|trans|raw }}
        </span>
    </li>
    <li>
        <span class="link" onclick="fnjs_update_div('#main','{{ goBuscarPlanCtr }}')">
            {{ "Ver el plan de Misas y encargos de un centro"|trans|raw }}
        </span>
    </li>
    <li>
        <span class="link" onclick="fnjs_update_div('#main','{{ goModificarEncargos }}')">
            {{ "Crear y modificar los encargos"|trans|raw }}
        </span>
    </li>
    <li>
        <span class="link" onclick="fnjs_update_div('#main','{{ goModificarEncargosCtr }}')">
            {{ "Modificar los encargos visibles para un centro"|trans|raw }}
        </span>
    </li>
   <li>
        <span class="link" onclick="fnjs_update_div('#main','{{ goIniciales }}')">
            {{ "Modificar la tabla de iniciales de los sacerdotes"|trans|raw }}
        </span>
    </li>
</ul>
