<h2>Planing de Misas</h2>
<ul>
    <li>
        <span class="link" onclick="fnjs_update_div('#main','{{ goModificarPlantilla }}')">
            {{ "Modificar plantilla"|trans|raw }}
        </span>
    </li>
    <li>
        <span class="link" onclick="fnjs_update_div('#main','{{ goPrepararPlanDeMisas }}')">
            {{ "Preparar nuevo plan de Misas"|trans|raw }}
        </span>
    </li>
    <li>
        <span class="link" onclick="fnjs_update_div('#main','{{ goModificarPlanDeMisas }}')">
            {{ "Modificar el plan de Misas"|trans|raw }}
        </span>
    </li>
    <li>
        <span class="link" onclick="fnjs_update_div('#main','{{ goVerPlanSacd }}')">
            {{ "Ver el plan de un sacerdote"|trans|raw }}
        </span>
    </li>
    <li>
        <span class="link" onclick="fnjs_update_div('#main','{{ goVerPlanCtr }}')">
            {{ "Ver el plan de Misas de un centro"|trans|raw }}
        </span>
    </li>
    <li>
        <span class="link" onclick="fnjs_update_div('#main','{{ goModificarEncargos }}')">
            {{ "Modificar los encargos"|trans|raw }}
        </span>
    </li>
   <li>
        <span class="link" onclick="fnjs_update_div('#main','{{ goIniciales }}')">
            {{ "Modificar la tabla de iniciales de los sacerdotes"|trans|raw }}
        </span>
    </li>
</ul>
