<div id="div_select_zona">
    <form id="frm_zona_ctr" name="frm_zona_ctr" action="" method="post">
        {{ oHash.getCamposHtml|raw }}
        <table>
            <thead>
            <tr>
                <th class=titulo_inv colspan=4>{{ "Plan de Misas de la zona"|trans|capitalize }}:&nbsp;&nbsp;&nbsp;
                    {{ oDesplZonas.desplegable|raw }}
                </th>
                <th class=titulo_inv colspan=4>{{ "Orden"|trans|capitalize }}:&nbsp;&nbsp;&nbsp;
                    {{ oDesplOrden.desplegable|raw }}
                </th> 
            </tr>
            <tr>
            {{ oFormP.getHtml()|raw }}
            </tr>
            </thead>
        </table>
    </form>
</div>

<br>
<div id="div_cuadricula">
</div>

<script>
    fnjs_ver_plantilla_zona = function () {
        let id_zona = $('#id_zona').val();
        if (id_zona) {
            let url = '{{ url_ver_cuadricula_zona }}';
	        var zona=$('#sacd_zona').prop('checked');
    	    var periodo=$('#periodo').val();
    	    var empiezamax=$('#empiezamax').val();
    	    var empiezamin=$('#empiezamin').val();
            let orden = $('#orden').val();

            let parametros = 'id_zona=' + id_zona + '&periodo=' + periodo + '&empiezamin=' + empiezamin + '&empiezamax=' + empiezamax + '&orden=' + orden +'{{ h_zona|raw }}';

            $.ajax({
                url: url,
                type: 'post',
                data: parametros,
                dataType: 'html'
            })
                .done(function (rta_txt) {
                    $('#div_cuadricula').html(rta_txt);
                });
        }
    }
</script>
