<h2>{{ "Lista de encargos de una zona"|trans|raw }}</h2>

<table>
        <tr>
            <th colspan="4">{{ nombre_zona }}</th>
        </tr>
    {% for id_encargo %}
        <tr>
            <td>
                {{  id_encargo }}
            </td>
            <td>
                {{ a_datos_enc.desc_enc }}
            </td>
            <td>
                {{ a_datos_enc.id_ubi }}
            </td>
            <td>
                {{ a_datos_enc.sf_sv }}
            </td>
            <td>
                {{ a_datos_enc.observ }}
            </td>
        </tr>
    {% endfor %}
</table>