<div id="div_select_zona">
    <form id="frm_zona_ctr" name="frm_zona_ctr" action="" method="post">
        {{ oHash.getCamposHtml|raw }}
        <table>
            <thead>
            <tr>
                <th class=titulo_inv colspan=4>{{ "Plantilla de la zona"|trans|capitalize }}:&nbsp;&nbsp;&nbsp;
                    {{ oDesplZonas.desplegable|raw }}
                </th>
                <th class=titulo_inv colspan=4>{{ "Tipo de plantilla"|trans|capitalize }}:&nbsp;&nbsp;&nbsp;
                    {{ oDesplTipoPlantilla.desplegable|raw }}
                </th>
            </tr>
            </thead>
        </table>
        <p>{{ "Selección de sacd"|trans|raw }}:
		    <input id="sacd_zona" type="checkbox" value="2" checked Onclick='fnjs_ver_plantilla_zona()'>{{ "zona"|trans|raw }}
		    <input id="sacd_na"type="checkbox" value="4" Onclick='fnjs_ver_plantilla_zona()'>{{ "prelatura"|trans|raw }}
		    <input id="sacd_p" type="checkbox" value="8" Onclick='fnjs_ver_plantilla_zona()'>{{ "de paso"|trans|raw }}
	    </p>

    </form>
</div>

<br>
<div id="div_plantilla">
</div>

<script>
    fnjs_ver_plantilla_zona = function () {
        let id_zona = $('#id_zona').val();
        let TipoPlantilla = $('#TipoPlantilla').val();
        if (id_zona) {
            let url = '{{ url_ver_plantilla_zona }}';
	        var zona=$('#sacd_zona').prop('checked');
            var na=$('#sacd_na').prop('checked');
    	    var p=$('#sacd_p').prop('checked');

            var seleccion=0;
	        if (zona) seleccion+=2;
        	if (na) seleccion+=4;
	        if (p) seleccion+=8;
	        //alert ("prelatura: "+na+" paso: "+p+" zona: "+zona+" tot "+ seleccion);
            let parametros = 'id_zona=' + id_zona + ' & TipoPlantilla=' + TipoPlantilla + '& seleccion=' + seleccion + '{{ h_zonatipo|raw }}';

            $.ajax({
                url: url,
                type: 'post',
                data: parametros,
                dataType: 'html'
            })
                .done(function (rta_txt) {
                    $('#div_plantilla').html(rta_txt);
                });
        }
    }
</script>
