<h2>{{ "Lista de sacd por zona"|trans|raw }}</h2>

<table>
    {% for nombre_zona, a_sacd in a_zonas %}
        <tr>
            <th colspan="4">{{ nombre_zona }}</th>
        </tr>
        {% for id_nom, a_datos_sacd in a_sacd %}
            <tr>
                <td>
                    {{  id_nom }}
                </td>
                <td>
                    {{ a_datos_sacd.nombre_sacd }}
                </td>
                <td>
                    {{ a_datos_sacd.iniciales }}
                </td>
                <td>
                    {{ a_datos_sacd.color }}
                </td>
            </tr>
        {% endfor %}
    {% endfor %}
</table>