<head>
    <meta http-equiv="Content-Type" content="text/html; charset=iso-8859-1">
    <link rel="shortcut icon" type="image/ico" href="favicon.ico"/>
    <title>SlickGrid example: CompositeEditor</title>
    <!--
    <link rel="stylesheet" href="../dist/styles/css/slick-icons.css" type="text/css"/>
    <link rel="stylesheet" href="../dist/styles/css/example-demo.css" type="text/css"/>
    <link rel="stylesheet" href="../dist/styles/css/slick-alpine-theme.css" type="text/css"/>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/flatpickr/dist/flatpickr.min.css">
  -->


    <link type='text/css' rel='rioridadstylesheet'
          href='node_modules/slickgrid/dist/styles/css/slick-icons.css'/>
    <link type='text/css' rel='stylesheet'
          href='node_modules/slickgrid/dist/styles/css/example-demo.css'/>
    <link type='text/css' rel='stylesheet'
          href='node_modules/slickgrid/dist/styles/css/slick-alpine-theme.css'/>

    <style>
        .cell-title {
            font-weight: bold;
        }

        .cell-effort-driven {
            justify-content: center;
        }

        .item-details-form {
            z-index: 1000;
            display: inline-block;
            border: 1px solid black;
            margin: 8px;
            padding: 10px;
            background: #fbfbfb;
            -moz-box-shadow: 0px 0px 15px black;
            -webkit-box-shadow: 0px 0px 15px black;
            box-shadow: 0px 0px 15px black;

            position: absolute;
            top: 10px;
            left: 150px;
        }

        .item-details-form-buttons {
            float: right;
        }

        .item-details-label {
            margin-left: 10px;
            margin-top: 20px;
            display: block;
            font-weight: bold;
        }

        .item-details-editor-container {
            width: 300px;
            height: 20px;
            border: 1px solid silver;
            background: white;
            display: block;
            margin: 10px;
            margin-top: 4px;
            padding: 0;
            padding-left: 4px;
            padding-right: 0px;
        }
    </style>
</head>
<div style="position:relative">

    <input type=button name="nuevo" value="nuevo" onclick="fnjs_nuevo();">

    <div style="width:100%;">
        <div id="myGrid" class="slick-container" style="width:100%;height:500px;"></div>
    </div>


    <div class='item-details-form' style="display: none">

        <label id="titulo_modal"></label>
        <hr/>
        <input type="hidden" id="cell_selected" value=""/>
        <input type="hidden" id="row_selected" value=""/>
        <input type="hidden" id="id_enc_selected" value=""/>
        <input type="hidden" id="id_ctr_selected" value=""/>
        <input type="hidden" id="id_item" value=""/>
        <input type="hidden" id="que" value=""/>

        <div style="margin-left: 10px; margin-top: 10px;">
            <label for="id_enc">{{ "Encargo: "|trans|raw }}</label>
            {{ oDesplEncargos.desplegable()|raw }}
        </div>

        <div style="margin-left: 10px; margin-top: 10px;">
            <label for="id_zona_ctr">{{ "Zona del centro: "|trans|raw }}</label>
            {{ oDesplZonasCtr.desplegable()|raw }}
        </div>

        <div style="margin-left: 10px; margin-top: 10px;">
            <label for="id_ctr">{{ "Centro: "|trans|raw }}</label>
            <div id="desplegable">
            </div>
        </div>

        <hr/>
        <div class='item-details-form-buttons'>
            <button data-action='save' class='slick-btn slick-btn-primary'>Grabar</button>
            <button data-action='eliminar_encargo' class='slick-btn slick-btn-primary'>Eliminar encargo</button>
            <button data-action='cancel' class='slick-btn slick-btn-default'>Cancel</button>
        </div>
    </div>

</div>

<script src="node_modules/slickgrid/dist/browser/slick.core.js"></script>
<script src="node_modules/slickgrid/dist/browser/slick.interactions.js"></script>
<script src="node_modules/slickgrid/dist/browser/slick.grid.js"></script>
<script src="node_modules/slickgrid/dist/browser/plugins/slick.cellrangeselector.js"></script>
<script src="node_modules/slickgrid/dist/browser/plugins/slick.cellselectionmodel.js"></script>
<script src="node_modules/slickgrid/dist/browser/slick.formatters.js"></script>
<script src="node_modules/slickgrid/dist/browser/slick.editors.js"></script>
<script src="node_modules/slickgrid/dist/browser/slick.compositeeditor.js"></script>

<script>

    var modal = $(".item-details-form");

    modal.keydown(function (e) {
        if (e.which == Slick.keyCode.ENTER) {
            commitCurrentEdit();
            e.stopPropagation();
            e.preventDefault();
        } else if (e.which == Slick.keyCode.ESCAPE) {
            cancelCurrentEdit();
            e.stopPropagation();
            e.preventDefault();
        }
    });

    modal.find("[data-action=save]").click(function () {
        commitCurrentEdit();
    });

    modal.find("[data-action=eliminar_encargo]").click(function () {
        eliminarCurrentEdit();
    });

    modal.find("[data-action=cancel]").click(function () {
        cancelCurrentEdit();
    });

    function cancelCurrentEdit() {
        modal.hide();
    }

    function commitCurrentEdit(cell) {
        cell = $('#cell_selected').val();
        row = $('#row_selected').val();

        let key = $('#id_ctr').val();
        const myArray = key.split("#");
       let id_ctr = myArray[0];
//        let nombre_ctr = myArray[1];

        let id_item = $('#id_item').val();
        let id_enc_selected = $('#id_enc_selected').val();
 //       let id_ctr = $('#id_ctr').val();
        let id_enc = $('#id_enc').val();
        let id_zona = $('#id_zona').val();
        let que=$('#que').val();
        if (que=='') {
            que = 'modificar';
        }
        // añadir el hash (se puede cambiar todo menos el encargo)
        parametros='id_item=' + id_item + '&id_enc=' + id_enc + '&que=' + que + '&id_ctr=' + id_ctr + '&id_zona=' + id_zona + '{{ h_update_encargos_centros|raw }}';
        let url_update_encargos_centros = '{{ url_update_encargos_centros }}';
        // guardar cambios en DB
        var request = $.ajax({
            url: url_update_encargos_centros,
            method: 'POST',
            data: parametros,
            dataType: 'json'
        });
        request.done(function (json) {
            if (json.success !== true) {
                alert("{{ "respuesta"|trans|raw }}: " + json.mensaje);
            } else {
                let id_zona = $('#id_zona').val();
                let url = '{{ url_ver_encargos_centros }}';
                parametros='id_zona=' + id_zona + '{{ h_ver_encargos_centros|raw }}';

                var request = $.ajax({
                    url: url,
                    method: 'POST',
                    data: parametros,
                    dataType: 'html'
               })
                .done(function (rta_txt) {
                    $('#div_encargos').html(rta_txt);
                });
            }
        });
    }

    function eliminarCurrentEdit(cell) {
        cell = $('#cell_selected').val();
        row = $('#row_selected').val();
        var id_campo = columns[cell].field;
        let url_update_encargos_centros = '{{ url_update_encargos_centros }}';

        let id_item = $('#id_item').val();
        parametros='id_item=' + id_item + '&que=borrar' + '{{ h_borrar_encargo_centro|raw }}';;

        // guardar cambios en DB
        var request = $.ajax({
            url: url_update_encargos_centros,
            method: 'POST',
            data: parametros,
            dataType: 'json'
        });
        request.done(function (json) {
            if (json.success !== true) {
                alert("{{ "respuesta"|trans|raw }}: " + json.mensaje);
            } else {
                let id_zona = $('#id_zona').val();
                let orden_select = $('#orden_select').val();
                let url = '{{ url_ver_encargos_centros }}';
                parametros='id_zona=' + id_zona + '{{ h_ver_encargos_centros|raw }}';

                var request = $.ajax({
                    url: url,
                    method: 'POST',
                    data: parametros,
                    dataType: 'html'
               })
                .done(function (rta_txt) {
                    $('#div_encargos').html(rta_txt);
                });
            }
        });
        modal.show();
    }

    function fnjs_prepara_select_ctr() {
    	var ctr_otras_zonas=$('#ctr_otras_zonas').prop('checked');
 	    var ctr_selected=$('#id_ctr_selected').val();
        let url_desplegable_ctr = '{{ url_desplegable_ctr }}';
        let id_zona = $('#id_zona_ctr').val();
	    var parametros= 'id_zona=' + id_zona + '&id_ctr=' + ctr_selected + '&ctr_otras_zonas=' + ctr_otras_zonas + '&{{ h_desplegable_ctr|raw }} ';
        request = $.ajax({
		    url: url_desplegable_ctr,
		    data: parametros,
		    type: 'post',
            dataType: 'json'
        });

        request.done(function (json) {
                html=json.desplegable;
                $("#desplegable").html(html);
        });

        modal.show();
    }

    function fnjs_nuevo(){
        $('#que').val('nuevo');
        reset_campos_modal();
        $('#titulo_modal').html('nuevo encargo visible para un centro');

        fnjs_prepara_select_ctr();

        modal.show();
    }

    function reset_campos_modal() {
        $('#titulo_modal').html('');
        $('#observ').val('');
        $('#encargo').val('');
        $('#lugar').val('');
        $('#orden').val('');
        $('#prioridad').val('');
        $('#id_ubi').val('');
        $('#id_enc_selected').val('');
        $('#id_tipo_enc').val('');
        $('#desplegable_tipo_de_encargo').val('');
        $('#descripcion_lugar').val('');
        $('#idioma_enc').val('');
    }


    function openDetails(cell) {
        const url = URL.createObjectURL(new Blob());
        $('#cell_selected').val(cell.cell);
        $('#row_selected').val(cell.row);

        let id_item = data[cell.row].id_item;
        let encargo = data[cell.row].encargo;
        let id_encargo = data[cell.row].id_encargo;
        let id_centro = data[cell.row].id_centro;
        let centro = data[cell.row].centro;

        $('#titulo_modal').html('modificar encargo visble para un centro');
        $('#id_item').val(id_item);
        $('#encargo').val(encargo);
        $('#id_enc').val(id_encargo);
        $('#id_ctr_selected').val(id_centro);
        $('#id_ctr').val(id_centro);
        fnjs_prepara_select_ctr();

        modal.show();
    }

    function requiredFieldValidator(value) {
        if (value == null || value == undefined || !value.length) {
            return {valid: false, msg: "This is a required field"};
        } else {
            return {valid: true, msg: null};
        }
    }

    var grid;
    var data = {{ json_data_cuadricula|raw }};
    var columns = {{ json_columns_cuadricula|raw }};
    var options = {
        editable: false,
        enableAddRow: true,
        enableCellNavigation: true,
        asyncEditorLoading: false,
        autoEdit: false
    };


    $(function () {
        grid = new Slick.Grid("#myGrid", data, columns, options);

        grid.onClick.subscribe(function (e) {
            var cell = grid.getCellFromEvent(e);
            openDetails(cell);
            e.stopPropagation();
        });

        grid.setActiveCell(0, 0);
    })


    $('.clockpicker').clockpicker({
            placement: 'bottom',
            align: 'right',
            donetext: 'Correcto!'
        }
    );

</script>