<style>
    table {
        width: 600px;
    }

    .contenido {
        font-weight: bold;
    }

    .link {
        text-decoration: none;
        color: blue;
        cursor: pointer;
    }
</style>
<form id="nuevo">
    {{ oActividadTipo.getHtml()|raw }}
    {{ oHash.getCamposHtml()|raw }}
    <div class="flex-container">
        <div>
            {{ "Número de días antes del inicio de la actividad"|trans }},
            <br>
            {{ "o 'upload' para poner el día en que se hace la exportación"|trans }}:
            <br>
            <input id="activacion" name="activacion" \>
        </div>
    </div>
    <br><br>
    <input type="button" value="{{ "guardar"|trans }}" onclick="fnjs_guardar_nuevo('#nuevo','update');">
    <input type="button" value="{{ "cancel"|trans }}" onclick="fnjs_cerrar();">
</form>
