<style>
    table {
        width: 600px;
    }

    .contenido {
        font-weight: bold;
    }

    .link {
        text-decoration: none;
        color: blue;
        cursor: pointer;
    }
</style>
<form id="modifica">
    {{ oActividadTipo.getHtml()|raw }}
    {{ oHash.getCamposHtml()|raw }}
    <div class="flex-container">
        <div>
            <h3>
                {{ txt }}:
                {{ tipo_txt|raw }}
            </h3>
        </div>
        <div>
            <input id="contribucion" name="contribucion" value="{{ contribucion }}" \>
        </div>
    </div>
    <br><br>
    <br><br>
    <input type="button" value="{{ "guardar"|trans }}" onclick="fnjs_guardar('#modifica','update');">
    <input type="button" value="{{ "eliminar"|trans }}" onclick="fnjs_guardar('#modifica','eliminar');">
    <input type="button" value="{{ "cancel"|trans }}" onclick="fnjs_cerrar();">
</form>
