<style>
<!--
table { border:none; }
td { border:none; }
-->
</style>
{% block scripts %}
<script>
fnjs_generar_proceso=function(){
	if (confirm("{{ txt_confirm }}") ) {
		var url = "{{ url_ajax }}";
		var parametros="{{ param_generar|raw }}";
		$.ajax({
			url: url,
			type: 'post',
			data: parametros
		})
		.done(function (rta_txt) {
			if (rta_txt != '' && rta_txt != '\n') {
				alert ('respuesta: '+rta_txt);
			}
		});
		fnjs_actualizar();
	}
}

fnjs_actualizar=function(){
	var id_activ=$('#id_activ').val();
	/* obtener el listado de fases */
	var url = "{{ url_ajax }}";
	var parametros="{{ param_actualizar|raw }}";
		 
	$.ajax({
		url: url,
		type: 'post',
		data: parametros
	})
	.done(function (rta_txt) {
		if (rta_txt) {
			/* añadir debajo de la actividad */
			$('#div_proceso').html(rta_txt);
		}
	});
}

fnjs_guardar=function(id_item){
	var force=$('#force').prop("checked");
	var completado=$('#comp'+id_item).prop('checked');
	var observ=$('#observ'+id_item).val();
	var url = "{{ url_ajax }}";
	var parametros='que=update&id_item='+id_item+'&completado='+completado+'&force='+force+'&observ='+observ+'{{ h_update|raw }}';
		 
	$.ajax({
		url: url,
		type: 'post',
		data: parametros
	})
	.done(function (rta_txt) {
		if (rta_txt != '' && rta_txt != '\n') {
			alert ('respuesta: '+rta_txt);
		}
	});
	fnjs_actualizar();
}
fnjs_actualizar();
</script>
{% endblock %}
{% block arrow %}
{{ oPosicion.mostrar_left_slide(1)|raw }}
{% endblock %}
<div id="exportar" export_modo="formulario">
{% block head %}
<table><tr>
	<td>
	<span class="link" onclick="fnjs_update_div('#main','{{ godossiers }}');" ><img src="{{ web_icons}}/dossiers.gif" border=0 width=40 height=40 alt="{{ alt }}">({{ dos }})</span>
	</td>
	<td class=titulo>{{ nom_activ }}</td>
	</tr></table>
{% endblock %}
{% block body %}
<table>
<input type='Hidden' id='que' name='que' value=''>
<tr><th colspan='5' class=titulo_inv>{{ "fases de la actividad"|trans|capitalize }}</th>
{% if permiso_calendario %}
	<td><input type="Button" value="{{ "regenerar"|trans }}" onclick="fnjs_generar_proceso()"></td>
{% endif %}
<td style="text-align: right;">{{ "forzar"|trans }}<input type="checkbox" name=force id=force></td>
</tr>
</table>

<div id='div_proceso'></div>
<input type='button' name='b_nuevo' value='{{ "actualizar"|trans }}' onclick='fnjs_actualizar();'>
<div id='div_modificar'></div>
<div id='resto'></div>
{% endblock %}
</div>
