<script>
fnjs_cambiar=function(formulario){
	var url='{{ url_ajax }}';
	$(formulario).attr('action',url);
	$(formulario).submit(function() {
		$.ajax({
			data: $(this).serialize(),
			url: $(this).attr('action'),
			type: 'post',
			complete: function (rta) {
				rta_txt=rta.responseText;
				if (rta_txt) {
					fnjs_mostra_resposta(rta_txt,'#main'); 
				} else {
					fnjs_lista();
				}
			}
		});
		return false;
	});
	$(formulario).submit();
	$(formulario).off();
}

fnjs_lista=function(){
	var dl_propia=$('input[name="dl_propia"]:checked').val();
	var isfsv=$('#isfsv_val').val();
	var iasistentes=$('#iasistentes_val').val();
	var iactividad=$('#iactividad_val').val();
	var inom_tipo=$('#inom_tipo_val').val();
	
	id_tipo_activ=isfsv+iasistentes+iactividad+inom_tipo;

	var periodo=$('#periodo').val();
	var year=$('#year').val();
	var empiezamax=$('#empiezamax').val();
	var empiezamin=$('#empiezamin').val();
	var id_fase_nueva=$('#id_fase_nueva').val();

	/* obtener el listado de fases */
	var url='{{ url_ajax }}';
	var parametros='que=lista&dl_propia='+dl_propia+'&id_tipo_activ='+id_tipo_activ+'&id_fase_nueva='+id_fase_nueva+'&periodo='+periodo+'&year='+year+'&empiezamax='+empiezamax+'&empiezamin='+empiezamin+'{{ h_lista|raw }}';
	$.ajax({
		url: url,
		type: 'post',
		data: parametros,
		dataType: 'html',
		success: function (rta_txt) {
			//alert ('respuesta: '+rta_txt);
			$('#div_resultado').html(rta_txt);			
		}
	});
}

fnjs_actualizar_fases=function(){
	var dl_propia=$('input[name="dl_propia"]:checked').val();
	var isfsv=$('#isfsv_val').val();
	var iasistentes=$('#iasistentes_val').val();
	var iactividad=$('#iactividad_val').val();
	var inom_tipo=$('#inom_tipo_val').val();
	
	id_tipo_activ=isfsv+iasistentes+iactividad+inom_tipo;

	/* obtener el listado de fases */
	var url='{{ url_ajax }}';
	var parametros='que=get&dl_propia='+dl_propia+'&id_tipo_activ='+id_tipo_activ+'{{ h_actualizar|raw }}';
	$.ajax({
		url: url,
		type: 'post',
		data: parametros,
		dataType: 'html',
		success: function (rta_txt) {
			$('#div_proceso').html(rta_txt);			
		}
	});
}
/*
fnjs_asistentes=function(){
	var isfsv=$('#isfsv_val').val();
	if (isfsv==3) {
		$('#iasistentes_val').hide();
		$('#iactividad_val').hide();
		fun_nom_tipo();
	} else {
		var url='<?= ConfigGlobal::$web.'/programas/actividad_tipo_get.php' ?>';
		var parametros='salida=asistentes&entrada='+isfsv+'&PHPSESSID=<?php echo session_id(); ?>';

		$.ajax({
			data: parametros,
			url: url,
			type: 'post',
			dataType: 'html',
			complete: function (rta) {
				rta_txt=rta.responseText;
				$('#lst_asistentes').html(rta_txt);
			}
		});
	}
	fnjs_actualizar_fases ();
}
fnjs_actividad=function(){
	var isfsv=$('#isfsv_val').val();
	var iasistentes=$('#iasistentes_val').val();
	var url='<?= ConfigGlobal::$web.'/programas/actividad_tipo_get.php' ?>';
	var parametros='salida=actividad&entrada='+isfsv+iasistentes+'&PHPSESSID=<?php echo session_id(); ?>';
	$.ajax({
		data: parametros,
		url: url,
		type: 'post',
		dataType: 'html',
		complete: function (rta) {
			rta_txt=rta.responseText;
			$('#lst_actividad').html(rta_txt);
		}
	});
	fnjs_actualizar_fases ();
}
fnjs_nom_tipo=function(){
	var isfsv=$('#isfsv_val').val();
	var iasistentes=$('#iasistentes_val').val();
	var iactividad=$('#iactividad_val').val();
	var url='<?= ConfigGlobal::$web.'/programas/actividad_tipo_get.php' ?>';
	var parametros='salida=nom_tipo&entrada='+isfsv+iasistentes+iactividad+'&PHPSESSID=<?php echo session_id(); ?>';
	$.ajax({
		data: parametros,
		url: url,
		type: 'post',
		dataType: 'html',
		complete: function (rta) {
			rta_txt=rta.responseText;
			$('#lst_nom_tipo').html(rta_txt);
		}
	});
	fnjs_actualizar_fases ();
}
fnjs_act_id_activ=function(){
	var isfsv=$('#isfsv_val').val();
	var iasistentes=$('#iasistentes_val').val();
	var iactividad=$('#iactividad_val').val();
	var inom_tipo=$('#inom_tipo_val').val();
	var id_tipo_activ=isfsv+iasistentes+iactividad+inom_tipo;

	$('#id_tipo_activ').val(id_tipo_activ);
	fnjs_actualizar_fases ();
}
*/
$(document).ready(fnjs_actualizar_fases ());
</script>
<h3>seleccionar un tipo de actividad:</h3>
    {{ oActividadTipo.getHtml|raw }}
<table>
<tr>
	<td class=etiqueta>{{ "para actividades que organiza"|trans|capitalize }}:
    <input onchange="fnjs_actualizar_fases();" type="radio" name="dl_propia" value="t" checked>{{ "la propia dl"|trans }}
    <input onchange="fnjs_actualizar_fases();" type="radio" name="dl_propia" value="f" >{{ "otras dl"|trans }}
	</td>
</tr>
</table>

<input type="hidden" id="id_tipo_activ" name="id_tipo_activ" value="">
<table>
<tr><td class=etiqueta>{{ "periodo"|trans }}:</td>
{{ oFormP.getTd()|raw }}
</tr>
<tr><td class=etiqueta>{{ "pasar a fase"|trans }}:</td><td></td>
<td><span id=div_proceso></td></td>
</tr>
</table>

<table>
<tfoot>
<tr class=botones>
<td><input TYPE="button" onclick="fnjs_lista();"  id="ok" name="ok" value="{{ "ver selección"|trans }}" class="btn_ok"></td>
</tr></tfoot>
</table>
<div id='div_resultado'></div>
