<script>
fnjs_clonar=function(){
	var id_tipo_proceso=$('#k_buscar').val();
	var id_tipo_proceso_ref=$('#k_clonar').val();

	if (!id_tipo_proceso) {
		alert ("{{ txt_clonar }}");
	} else {
        /* obtener el listado de fases */
        var url="{{ url_ajax }}";
        var parametros='que=clonar&id_tipo_proceso='+id_tipo_proceso+'&id_tipo_proceso_ref='+id_tipo_proceso_ref+'{{ h_clonar|raw }}';
             
        $.ajax({
            url: url,
            type: 'post',
            data: parametros
        })
        .done(function (rta_txt) {
            if (rta_txt != '' && rta_txt != '\\n') {
                /* añadir debajo de la actividad */
                $('#div_proceso').html(rta_txt);
            }
        });
        document.getElementById("overlay").style.display = "none";
    }
}

fnjs_cerrar=function(){
	$('#div_modificar').html('');
	$('#div_modificar').width('0');
	$('#div_modificar').height('0');
	$('#div_modificar').removeClass('ventana');
	document.getElementById("overlay").style.display = "none";
}

fnjs_guardar=function(formulario){
	$('#que').val('update');
	$(formulario).attr('action',"{{ url_ajax }}");
	$(formulario).one("submit", function() {
		$.ajax({
			url: $(this).attr('action'),
			type: 'post',
			data: $(this).serialize()
		})
		.done(function (rta_txt) {
			if (rta_txt != '' && rta_txt != '\n') {
				alert (rta_txt);
			} else {
				$('#div_modificar').html('');
				$('#div_modificar').width('0');
				$('#div_modificar').height('0');
				$('#div_modificar').removeClass('ventana');
			}
			fnjs_actualizar();
		});
		return false;
	});
	$(formulario).submit();
	$(formulario).off();
}

fnjs_actualizar=function(){
	var id_tipo_proceso=$('#k_buscar').val();
	/* obtener el listado de fases */
	var url="{{ url_ajax }}";
	var parametros='que=get&id_tipo_proceso='+id_tipo_proceso+'{{ h_actualizar|raw }}';
		 
	$.ajax({
		url: url,
		type: 'post',
		data: parametros
	})
	.done(function (rta_txt) {
		if (rta_txt != '' && rta_txt != '\\n') {
			/* añadir debajo de la actividad */
			$('#div_proceso').html(rta_txt);
		}
	});
	document.getElementById("overlay").style.display = "none";
}

fnjs_eliminar=function(id_item){
	if (confirm("{{ txt_eliminar }}")) {
        var url="{{ url_ajax }}";
		var parametros='que=eliminar&id_item='+id_item+'{{ h_eliminar|raw }}';
        $.ajax({
            url: url,
            type: 'post',
            data: parametros
		})
		.done(function (rta_txt) {
			if (rta_txt != '' && rta_txt != '\n') {
				alert ('respuesta: '+rta_txt);
			} else {
				fnjs_actualizar();
			}
        });
	}
}

fnjs_modificar=function(id_item){
	$('#div_modificar').addClass('ventana');
	$('#div_modificar').width('auto');
	$('#div_modificar').height('auto');
	document.getElementById("overlay").style.display = "block";

	var id_tipo_proceso=$('#k_buscar').val();
    var url="{{ url_ver }}";
	if (id_item) {
		var parametros='mod=editar&id_item='+id_item+'&id_tipo_proceso='+id_tipo_proceso+'{{ h_modificar|raw }}';
	} else {
		var parametros='mod=nuevo&id_tipo_proceso='+id_tipo_proceso+'{{ h_nuevo|raw }}';
	}
	fnjs_update_div('#div_modificar',url+'?'+parametros);
}

fnjs_left_side_hide();
</script>
<div id='div_modificar'></div>
<div id='overlay'></div>

<div id='div_buscar'>
<table>
<thead>
<th class=titulo_inv colspan=4>{{ "proceso"|trans|capitalize }}
&nbsp;&nbsp;&nbsp;
<select id="k_buscar" name="k_buscar" onchange='fnjs_actualizar();'>
{{ oDespl.options()|raw }}
</select>
<th class=titulo_inv style="text-align: right;">{{ "clonar de"|trans }}
<select id="k_clonar" name="k_clonar">
{{ oDespl.options()|raw }}
</select>
<input type='button' name='b_clonar' value='{{ "clonar"|trans }}' onclick='fnjs_clonar();'>
</th>
</thead>
</table>
</div>
<div id='div_proceso'></div>
<input type='button' name='b_nuevo' value='{{ "nuevo"|trans }}' onclick='fnjs_modificar();'>
