<script>
fnjs_guardar=function(formulario){
	var id_tipo_activ =$('#id_tipo_activ').val();
	var nombre =$('#nombre').val();
	var id_tipo_proceso =$('#id_tipo_proceso').val();
	var dl_propia=$('#dl_propia').val();

	var url='{{ url_ajax|raw }}';
	var parametros='que=update&id_tipo_activ='+id_tipo_activ+'&dl_propia='+dl_propia+'&nombre='+nombre+'&id_tipo_proceso='+id_tipo_proceso+'{{ h_guardar|raw }}';
		 
	$.ajax({
		url: url,
		type: 'post',
		data: parametros
	})
	.done(function (rta_txt) {
		fnjs_lista();
	});
	fnjs_cerrar();
}

fnjs_ver=function(){
    $('#div_modificar').addClass('ventana');
    $('#div_modificar').width('auto');
    $('#div_modificar').height('auto');
    document.getElementById("overlay").style.display = "block";

	var url='{{ url_ajax|raw }}';
	var id_tipo_activ=$('#id_tipo_activ').val();
	var dl_propia=$('#dl_propia').val();
	var parametros='que=editar&id_tipo_activ='+id_tipo_activ+'&dl_propia='+dl_propia+'{{ h_ver|raw }}';
	fnjs_update_div('#div_modificar',url+'?'+parametros);
}

fnjs_cerrar=function(){
    $('#div_modificar').html('');
    $('#div_modificar').width('0');
    $('#div_modificar').height('0');
    $('#div_modificar').removeClass('ventana');
    document.getElementById("overlay").style.display = "none";

	$('#inom_tipo_val').val('');
}


fnjs_lista=function(){
	/* obtener el listado */
	var url='{{ url_ajax|raw }}';
	var parametros='que=lista'+'{{ h_lista|raw }}';
		 
	$.ajax({
		url: url,
		type: 'post',
		data: parametros
	})
	.done(function (rta_txt) {
		if (rta_txt) {
			$('#ficha').html(rta_txt);
		}
	});
	document.getElementById("overlay").style.display = "none";
}

$(document).ready(fnjs_lista());
fnjs_left_side_hide();
</script>
<div id='div_buscar'>
<select id='dl_propia' name='dl_propia'>
	<option value='1' selected>dl</option>
	<option value='2'>no dl</option>
</select>
<table>
<tr><td class=subtitulo>{{ "escoger el tipo de actividad"|trans|capitalize }}
	</td></tr>
	<tr>
		{{ oActividadTipo.getHtml|raw }}
	</tr>
</table>
<br>
<input type='hidden' id='id_tipo_activ' value=''>
<input type='hidden' id='que' name='que' value='proceso'>
</div>
<hr>
<br>
<div id='div_modificar'></div>
<div id='ficha'></div>
<div id='overlay'></div>
