<script>
fnjs_actualizar_fases=function(){
	var dl_propia=$('input[name="dl_propia"]:checked').val();
	var isfsv=$('#isfsv_val').val();
	var iasistentes=$('#iasistentes_val').val();
	var iactividad=$('#iactividad_val').val();
	var inom_tipo=$('#inom_tipo_val').val();
	
	if (!iasistentes) iasistentes='.';
	if (!iactividad) iactividad='.';
	if (!inom_tipo) inom_tipo='...';

	id_tipo_activ=isfsv+iasistentes+iactividad+inom_tipo;

	// desplegable 'desde'
	var url='{{ url_actualizar }}';
	var parametros='dl_propia='+dl_propia+'&id_tipo_activ='+id_tipo_activ+'{{ h_actualizar|raw }}';
	$.ajax({
		url: url,
		type: 'post',
		data: parametros
	})
	.done(function (rta_txt) {
		$('#fases').html(rta_txt);			
	});
}

fnjs_grabar=function(formulario){
	var err=0;
	var afecta = $("input:checkbox[name^='afecta_a']:checked").map(function(){return $(this).val()}).get()
	var afases = $("select[name^='afases'] option:selected").map(function(){return $(this).val()}).get()
	
	if (afecta.length == 0) { 
		alert("{{ "debe indicar a qué afecta"|trans }}"); err=1;
	}
	if (afases.length == 0) { 
		alert("{{ "debe indicar las fases"|trans }}"); err=1;
	}
	if (err==0) {
        $(formulario).attr('action',"apps/usuarios/controller/usuario_update.php");
        $(formulario).one("submit", function() {
            $.ajax({
                url: $(this).attr('action'),
                type: 'post',
                data: $(this).serialize()
            })
            .done(function (rta_txt) { 
                if (rta_txt != '' && rta_txt != '\n') {
                    alert ('respuesta: '+rta_txt);
                } else {
                    {{ oPosicion.js_atras(1)|raw }}
                }
            });
            return false;
        });
        $(formulario).submit();
        $(formulario).off();
	}
}
</script>
{{  oPosicion.mostrar_left_slide(1)|raw }}
<h1>{{  "Añadir nuevo permiso a"|trans }} {{ nombre }}</h1>
<form id=perm_usuario  name=perm_usuario action="" method="post" >
{{ oHash.getCamposHtml()|raw }}
<input type='hidden' id='id_tipo_activ' name='id_tipo_activ'> </td>
<h3>{{ "seleccionar un tipo de actividad"|trans }}:</h3>
<table>
<tr>
<td class=etiqueta>{{ "para actividades que organiza"|trans }}:</td>
<td colspan=5>
	<input type=radio name=dl_propia value='t' {{ chk_propia }} onchange='fnjs_actualizar_fases();' > {{ "la propia dl"|trans }}
	<input type=radio name=dl_propia value='f' {{ chk_otra }} onchange='fnjs_actualizar_fases();' > {{ "otras dl"|trans }}
</td></tr>
<tr>
</table>
{{ oActividadTipo.getHtml()|raw }}
<table>
</tr>
</table>
<h3>{{ "afecta a"|trans }}:</h3>
{{ oCuadros.cuadros_check('afecta_a',afecta_a)|raw }}

<h3>{{ "permiso para cada fase del proceso"|trans }}:</h3>
<span class="comentario">
{{ "NOTA: Salen todas las fases de los procesos de los tipos de actividad seleccionados. No todos los procesos tienen todas las fases."|trans }}
<br>
{{ "Por orden alfabético."|trans }}
<br></span>
<br>
<span id=fases> {{ oCuadrosFases.cuadros_lista_perm('afases',fases_sel)|raw }} </span>
<br>
<br>
<input type=button onclick="fnjs_grabar(this.form);" value="{{ "guardar"|trans }}">
</form>
