<style>
.dos {
	background-attachment:scroll;
	background-color:wheat;
	background-image:none;
	background-position:0 0;
	background-repeat:repeat;
	display:inline;
	float:left;
	position:absolute;
	z-index:10;
}
div.proceso {
	display:inline;
	float:left;
	height:40%;
	position:absolute;
	z-index:10;
	overflow: scroll;
	width: 17em;
	background-color: darkgray;
}
div.proceso table {
	width: 100%;
	background-color:wheat;
}
div.proceso td.cabecera {
	text-align: center;
}
p.tres:hover {
	background-color:black;
}
</style>
<script>
fnjs_guardar_nuevo=function(formulario){
	var err=0;
    var id_nom_tipo_activ=$('#id_nom_tipo_activ').val();
	var id_tipo_activ=$('#id_tipo_activ').val();
	if (!id_nom_tipo_activ) { alert ("{{ "Tipo no v치lido"|trans|raw }}"); err=1; }
	if (!nom_tipo_activ) { alert ("{{ "debe indicar un nombre"|trans|raw }}"); err=1; }
    var data = $(formulario).serialize();
    // Estos campos no est치n dentro del formulario. Los a침ado:
    var isfsv_val=$('#isfsv_val').val();
    var iactividad_val=$('#iactividad_val').val();
    var iasistentes_val=$('#iasistentes_val').val();
    data += '&isfsv_val='+isfsv_val;
    data += '&iactividad_val='+iactividad_val;
    data += '&iasistentes_val='+iasistentes_val;

	if (!err) {
		$(formulario).attr('action','{{ url_ajax }}');
		$(formulario).one("submit", function() {
			$.ajax({
				url: $(this).attr('action'),
				type: 'post',
				data: data
			})
			.done(function (rta_txt) {
				if (rta_txt != '' && rta_txt != '\n') {
					alert (rta_txt);
				}
                fnjs_lista();
                fnjs_cerrar();
			});
			return false;
		});
		$(formulario).trigger("submit");
		$(formulario).off();
	}
}

fnjs_guardar=function(formulario,que){
	if (que=="eliminar") {
		seguro=confirm("{{ txt_eliminar }}");
		if (seguro) { 
			err=0;
		} else {
			err=1;
		}
	}
	var err=0;
	var nom_tipo_activ=$('#nom_tipo_activ').val();
	var id_tipo_activ=$('#id_tipo_activ').val();
	if (!id_tipo_activ) { alert ("{{ "Tipo no v치lido"|trans|raw }}"); err=1; }
	if (!nom_tipo_activ) { alert ("{{ "debe indicar un nombre"|trans|raw }}"); err=1; }
	if (!err) {
		$('#que').val(que);
		$(formulario).attr('action','{{ url_ajax }}');
		$(formulario).one("submit", function() {
			$.ajax({
				url: $(this).attr('action'),
				type: 'post',
				data: $(this).serialize()
			})
			.done(function (rta_txt) {
				if (rta_txt != '' && rta_txt != '\n') {
					alert (rta_txt);
				} else {
					fnjs_lista();
					fnjs_cerrar();
				}
			});
			return false;
		});
		$(formulario).trigger("submit");
		$(formulario).off();
	}
}

fnjs_nuevo=function(id_tipo_activ){
	document.getElementById("div_modificar").style.display = "block";
	$('#div_modificar').addClass('ventana');
	$('#div_modificar').width('auto');
	$('#div_modificar').height('auto');
	document.getElementById("overlay").style.display = "block";
	

	var url='{{ url_ajax|raw }}';
	var parametros='que=form_nuevo'+'{{ h_nuevo|raw }}';
	fnjs_update_div('#div_modificar',url+'?'+parametros);
}

fnjs_modificar=function(id_tipo_activ){
	document.getElementById("div_modificar").style.display = "block";
	$('#div_modificar').addClass('ventana');
	$('#div_modificar').width('auto');
	$('#div_modificar').height('auto');
	document.getElementById("overlay").style.display = "block";
	

	var url='{{ url_ajax|raw }}';
	var parametros='que=form_modificar&id_tipo_activ='+id_tipo_activ+'{{ h_modificar|raw }}';
	fnjs_update_div('#div_modificar',url+'?'+parametros);
}

fnjs_lista=function(){
	/* obtener el listado */
	var url='{{ url_ajax|raw }}';
	var parametros='que=lista'+'{{ h_lista|raw }}';
		 
	$.ajax({
		url: url,
		type: 'post',
		data: parametros
	})
	.done(function (rta_txt) {
		if (rta_txt) {
			$('#div_tabla').html(rta_txt);
		}
		fnjs_cerrar();
	});
}

fnjs_cerrar=function(){
	$('#div_modificar').html('');
	document.getElementById("div_modificar").style.display = "none";
	document.getElementById("overlay").style.display = "none";
}
	

$(document).ready(function(){
	fnjs_lista();
});

fnjs_left_side_hide();
</script>
<div id='div_botones'>
<input type="button" value="{{ "nuevo"|trans|raw }}" onclick="fnjs_nuevo();">
</div>
<div id='div_tabla'></div>
<div id='div_modificar'></div>
<div id='overlay'></div>
