
{{ oPosicion.mostrarNavAtras(1)|raw }}
<h3> {{ nom_activ }}</h3>
{{ tabla_html|raw }}
<script>

fnjs_cambiar_actividad=function(param){
    var url_ajax = {{ url_guardar_ajax_json|raw }};

    request=$.ajax({
        data: param,
        url: url_ajax,
        method: 'POST',
        dataType: 'json'
    });
    request.done( function (rta) {
        if (rta && rta.success) {
            fnjs_update_div('#main', {{ reload_url_json|raw }});
        } else {
            var msg = (rta && rta.mensaje) ? rta.mensaje : 'error';
            alert(msg);
        }
    });
    request.fail(function () {
        alert('error de comunicacion con el servidor');
    });
}

</script>
