<script>
fnjs_guardar=function(formulario){
	var url='{{ url }}';
    $(formulario).attr('action',url);
    $(formulario).one("submit", function() {
		$.ajax({
			url: $(this).attr('action'),
			type: 'post',
			data: $(this).serialize()
		})
		.done(function (rta_txt) {
			if (rta_txt !== '' && rta_txt !== '\n') {
				alert (rta_txt);
			}
        });
        return false;
    });
    $(formulario).trigger("submit");
    $(formulario).off();
}
</script>

<h3>{{ "periodo curso stgr"|trans|raw }}:</h3>
<form id="frm_stgr" name="frm_stgr" action="">
{{ oHashStgr.getCamposHtml|raw }}

{{ "inicio"|trans|raw }}:
{{ "día"|trans|raw }}:<input size="3" type="text" name="ini_dia" value="{{ aCursoStgr['ini_dia'] }}" >
{{ "mes"|trans|raw }}:<input size="3" type="text" name="ini_mes" value="{{ aCursoStgr['ini_mes'] }}" >

{{ "fin"|trans|raw }}:
{{ "día"|trans|raw }}:<input size="3" type="text" name="fin_dia" value="{{ aCursoStgr['fin_dia'] }}" >
{{ "mes"|trans|raw }}:<input size="3" type="text" name="fin_mes" value="{{ aCursoStgr['fin_mes'] }}" >

<input type="button" value="{{ "Guardar"|trans|raw }}" onClick="fnjs_guardar(this.form);" >
</form>
<hr>

<h3>{{ "periodo curso crt"|trans|raw }}:</h3>
<form id="frm_crt" name="frm_crt" action="">
{{ oHashCrt.getCamposHtml|raw }}

{{ "inicio"|trans|raw }}:
{{ "día"|trans|raw }}:<input size="3" type="text" name="ini_dia" value="{{ aCursoCrt['ini_dia'] }}" >
{{ "mes"|trans|raw }}:<input size="3" type="text" name="ini_mes" value="{{ aCursoCrt['ini_mes'] }}" >

{{ "fin"|trans|raw }}:
{{ "día"|trans|raw }}:<input size="3" type="text" name="fin_dia" value="{{ aCursoCrt['fin_dia'] }}" >
{{ "mes"|trans|raw }}:<input size="3" type="text" name="fin_mes" value="{{ aCursoCrt['fin_mes'] }}" >

<input type="button" value="{{ "Guardar"|trans|raw }}" onClick="fnjs_guardar(this.form);" >
</form>
<hr>


<h3>{{ "jefe calendario (login). Si son varios, separarlos por coma"|trans|raw }}:</h3>
<h6>{{ "por orden, al e-mail del primero es la que se envian las comunicaciones de atención de actividades"|trans|raw }}:</h6>
<form id="frm_jefecalendario" name="frm_jefecalendario" action="">
{{ oHashJC.getCamposHtml|raw }}
<input type="text" name="valor" value="{{ jefe_calendario }}" size="70">
<input type="button" value="{{ "Guardar"|trans|raw }}" onClick="fnjs_guardar(this.form);" >
</form>
<hr>

<h3>{{ "nombre región en latín (se aceptan caracteres html)"|trans|raw }}:</h3>
<form id="frm_regionlatin" name="frm_regionlatin" action="">
{{ oHashRL.getCamposHtml|raw }}
<input type="text" name="valor" value="{{ region_latin }}" size="70">
<input type="button" value="{{ "guardar"|trans|raw }}" onclick="fnjs_guardar(this.form);" >
</form>
<hr>

<h3>{{ "stgr: nombre del secreatrio del stgr (y cargo)"|trans|raw }}: <span class="comentario">[{{ "Para los certificados"|trans|raw }}]</span></h3>
<form id="frm_vstgr" name="frm_vstgr" action="">
{{ oHashVE.getCamposHtml|raw }}
<input type="text" name="valor" value="{{ vstgr }}" size="70">
<input type="button" value="{{ "guardar"|trans|raw }}" onclick="fnjs_guardar(this.form);" >
</form>
<hr>

<h3>{{ "stgr: lugar firma"|trans|raw }}: <span class="comentario">[{{ "Para los certificados"|trans|raw }}]</span></h3>
<form id="frm_firmastgr" name="frm_firmastgr" action="">
{{ oHashLF.getCamposHtml|raw }}
<input type="text" name="valor" value="{{ lugar_firma }}" size="70">
<input type="button" value="{{ "guardar"|trans|raw }}" onclick="fnjs_guardar(this.form);" >
</form>
<hr>

<h3>{{ "stgr: direccion sede"|trans|raw }}: <span class="comentario">[{{ "Para los certificados"|trans|raw }}]</span></h3>
<form id="frm_dirstgr" name="frm_dirstgr" action="">
{{ oHashDir.getCamposHtml|raw }}
<input type="text" name="valor" value="{{ dir_stgr }}" size="70">
<input type="button" value="{{ "guardar"|trans|raw }}" onclick="fnjs_guardar(this.form);" >
</form>
<hr>

<h3>{{ "stgr: nota de corte (>= aprobada) (sobre 1)"|trans|raw }}:</h3>
<form id="frm_nota_corte" name="frm_nota_corte" action="">
{{ oHashNC.getCamposHtml|raw }}
<input type="text" name="valor" value="{{ nota_corte }}" >
<input type="button" value="{{ "guardar"|trans|raw }}" onclick="fnjs_guardar(this.form);" >
</form>
<hr>

<h3>{{ "stgr: nota máxima"|trans|raw }}:</h3>
<form id="frm_nota_max" name="frm_nota_max" action="">
{{ oHashN.getCamposHtml|raw }}
<input type="text" name="valor" value="{{ nota_max }}" >
<input type="button" value="{{ "guardar"|trans|raw }}" onclick="fnjs_guardar(this.form);" >
</form>
<hr>

<h3>{{ "stgr: años que se conserva si se ha cursado una asignatura"|trans|raw }}:</h3>
<form id="frm_caduca_cursada" name="frm_caduca_cursada" action="">
{{ oHashC.getCamposHtml|raw }}
<input type="text" name="valor" value="{{ caduca_cursada }}" >
<input type="button" value="{{ "guardar"|trans|raw }}" onclick="fnjs_guardar(this.form);" >
</form>
<hr>


<h3>{{ "valor inicio contadores"|trans|raw }}:</h3>
<form id="frm_contador" name="frm_contador" action="">
    {{ oHashC1.getCamposHtml|raw }}
    {{ "para los certificados"|trans|raw }}
    <input class="col-2" type="text" name="valor" value="{{ ini_contador_certificados }}">
    <input type="button" value="{{ "guardar"|trans|raw }}" onclick="fnjs_guardar(this.form);">
</form>
<hr>

<h3>{{ "idioma por defecto"|trans|raw }}:</h3>
<form id="frm_idioma_default" name="frm_idioma_default" action="">
{{ oHashI.getCamposHtml|raw }}
{{ idioma_default.desplegable|raw }}
<input type="button" value="{{ "guardar"|trans|raw }}" onclick="fnjs_guardar(this.form);" >
</form>
<hr>

<h3>{{ "Ámbito del esquema: delegación, región, regiónStgr"|trans|raw }}:</h3>
<form id="frm_dl_r" name="frm_dl_r" action="">
{{ oHashDLR.getCamposHtml|raw }}
<input type="radio" name="valor" value="dl" {{ chk_dl }} >{{ "delegación"|trans|raw }}
<br>
<input type="radio" name="valor" value="r" {{ chk_r }} >{{ "región: como una dl (tiene personas y actividades) + región del stgr"|trans|raw }}
<br>
<input type="radio" name="valor" value="rstgr" {{ chk_rstgr }} >{{ "región del Stgr (gestiona un conjunto de dl,r)(no tiene personas)"|trans|raw }}
<br>
<input type="button" value="{{ "guardar"|trans|raw }}" onclick="fnjs_guardar(this.form);" >
</form>
<hr>

<h3>{{ "gestión de calendario"|trans|raw }}:</h3>
<form id="frm_cal" name="frm_cal" action="">
{{ oHashCal.getCamposHtml|raw }}
<input type="radio" name="valor" value="central" {{ chk_central }} >{{ "centralizada"|trans|raw }}
<input type="radio" name="valor" value="oficinas" {{ chk_of }} >{{ "por oficinas"|trans|raw }}
<input type="button" value="{{ "guardar"|trans|raw }}" onclick="fnjs_guardar(this.form);" >
</form>
<hr>
