<script>
fnjs_guardar=function(formulario){
	var url='{{ url }}';
    $(formulario).attr('action',url);
    $(formulario).one("submit", function() {
		$.ajax({
			url: $(this).attr('action'),
			type: 'post',
			data: $(this).serialize()
		})
		.done(function (rta_txt) {
			if (rta_txt != '' && rta_txt != '\n') {
				alert (rta_txt);
			}
        });
        return false;
    });
    $(formulario).submit();
    $(formulario).off();
}
</script>

<h3>{{ "periodo curso stgr"|trans }}:</h3>
<form id="frm_stgr" name="frm_stgr" action="">
{{ oHashStgr.getCamposHtml|raw }}

inicio: 
dia:<input size="3" type="text" name="ini_dia" value="{{ aCursoStgr['ini_dia'] }}" >
mes:<input size="3" type="text" name="ini_mes" value="{{ aCursoStgr['ini_mes'] }}" >

fin: 
dia:<input size="3" type="text" name="fin_dia" value="{{ aCursoStgr['fin_dia'] }}" >
mes:<input size="3" type="text" name="fin_mes" value="{{ aCursoStgr['fin_mes'] }}" >

<input type="button" value="{{ "Guardar"|trans }}" onClick="fnjs_guardar(this.form);" >
</form>
<hr>

<h3>{{ "periodo curso crt"|trans }}:</h3>
<form id="frm_crt" name="frm_crt" action="">
{{ oHashCrt.getCamposHtml|raw }}

inicio: 
dia:<input size="3" type="text" name="ini_dia" value="{{ aCursoCrt['ini_dia'] }}" >
mes:<input size="3" type="text" name="ini_mes" value="{{ aCursoCrt['ini_mes'] }}" >

fin: 
dia:<input size="3" type="text" name="fin_dia" value="{{ aCursoCrt['fin_dia'] }}" >
mes:<input size="3" type="text" name="fin_mes" value="{{ aCursoCrt['fin_mes'] }}" >

<input type="button" value="{{ "Guardar"|trans }}" onClick="fnjs_guardar(this.form);" >
</form>
<hr>


<h3>{{ "jefe calendario"|trans }}:</h3>
<form id="frm_jefecalendario" name="frm_jefecalendario" action="">
{{ oHashJC.getCamposHtml|raw }}
<input type="text" name="valor" value="{{ jefe_calendario }}" >
<input type="button" value="{{ "Guardar"|trans }}" onClick="fnjs_guardar(this.form);" >
</form>
<hr>

<h3>{{ "nombre región en latín (html)"|trans }}:</h3>
<form id="frm_regionlatin" name="frm_regionlatin" action="">
{{ oHashRL.getCamposHtml|raw }}
<input type="text" name="valor" value="{{ region_latin }}" >
<input type="button" value="{{ "guardar"|trans }}" onclick="fnjs_guardar(this.form);" >
</form>
<hr>

<h3>{{ "nombre del secreatrio del stgr (y cargo)"|trans }}:</h3>
<form id="frm_vstgr" name="frm_vstgr" action="">
{{ oHashVE.getCamposHtml|raw }}
<input type="text" name="valor" value="{{ vstgr }}" size="70">
<input type="button" value="{{ "guardar"|trans }}" onclick="fnjs_guardar(this.form);" >
</form>
<hr>

<h3>{{ "lugar firma stgr"|trans }}:</h3>
<form id="frm_firmastgr" name="frm_firmastgr" action="">
{{ oHashLF.getCamposHtml|raw }}
<input type="text" name="valor" value="{{ lugar_firma }}" size="70">
<input type="button" value="{{ "guardar"|trans }}" onclick="fnjs_guardar(this.form);" >
</form>
<hr>

<h3>{{ "direccion sede stgr"|trans }}:</h3>
<form id="frm_dirstgr" name="frm_dirstgr" action="">
{{ oHashDir.getCamposHtml|raw }}
<input type="text" name="valor" value="{{ dir_stgr }}" size="70">
<input type="button" value="{{ "guardar"|trans }}" onclick="fnjs_guardar(this.form);" >
</form>
<hr>

<h3>{{ "nota máxima stgr"|trans }}:</h3>
<form id="frm_nota_max" name="frm_nota_max" action="">
{{ oHashN.getCamposHtml|raw }}
<input type="text" name="valor" value="{{ nota_max }}" >
<input type="button" value="{{ "guardar"|trans }}" onclick="fnjs_guardar(this.form);" >
</form>
<hr>

<h3>{{ "idioma por defecto"|trans }}:</h3>
<form id="frm_idioma_default" name="frm_idioma_default" action="">
{{ oHashI.getCamposHtml|raw }}
{{ idioma_default.desplegable|raw }}
<input type="button" value="{{ "guardar"|trans }}" onclick="fnjs_guardar(this.form);" >
</form>
<hr>

<h3>{{ "Ámbito del esquema: delegación, región, regiónStgr"|trans }}:</h3>
<form id="frm_dl_r" name="frm_dl_r" action="">
{{ oHashDLR.getCamposHtml|raw }}
<input type="radio" name="valor" value="dl" {{ chk_dl }} >{{ "delegación"|trans }}
<input type="radio" name="valor" value="r" {{ chk_r }} >{{ "región (tiene personas y actividades)"|trans }}
<input type="radio" name="valor" value="rstgr" {{ chk_rstgr }} >{{ "región del Stgr (gestiona un conjunto de dl,r)"|trans }}
<input type="button" value="{{ "guardar"|trans }}" onclick="fnjs_guardar(this.form);" >
</form>
<hr>

<h3>{{ "gestión de calendario"|trans }}:</h3>
<form id="frm_cal" name="frm_cal" action="">
{{ oHashCal.getCamposHtml|raw }}
<input type="radio" name="valor" value="central" {{ chk_central }} >{{ "centralizada"|trans }}
<input type="radio" name="valor" value="oficinas" {{ chk_of }} >{{ "por oficinas"|trans }}
<input type="button" value="{{ "guardar"|trans }}" onclick="fnjs_guardar(this.form);" >
</form>
<hr>
